.screenshot {
    margin:0 auto;
    display:block;
    text-align:center;
}
.sc_pagination {
  display:block;
  text-align:center;
  padding: 0;
}
.sc_pagination li {
    display:inline-block;
    width:10px;
    height:10px;
    margin-right:5px;
    cursor:pointer;
    background:#333;
}

.sc_pagination .sc_pagination_active {
    background:#ff0000;
}
