.carousel {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.carousel-caption {
  position: static;
  color: #000000;
  padding: 0;
}
.carousel-inner {
  padding-bottom: 30px;
  text-align: center;
}
.carousel-inner > .item > img {
  display: inline;
  height: 600px;
}
.carousel-indicators li {
    border: 1px solid #000000;
}
.carousel-indicators .active {
    background-color: #000000;
}
.well {
  text-align: center;
}
.well .row div {
 padding: 5px; 
}
.nav li.active .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.dropdown-menu {
  min-width:0px; 
}
dl.versionlist {
  position: relative;
}
dl.versionlist dt {
  float: left; clear:left; font-weight: bold; margin-bottom: -1px; margin-right: 2px;
}
dl.versionlist dd {
  margin-left: 4.5em;
}
.versioncode {
  display: inline-block;
  width: 4.5em;
  }
.versiondate {
  display: inline-block;
  width: 6em;
}
.jumbotron .btn {
  cursor: default;
  margin: 5px;
}
.carousel .error {
  height: 500px;
  color: red;
  padding: 235px 0;
}
.carousel img {
  padding: 30px 0; 
  max-width: 80%;
}
/* Smartphone portrait */
@media screen and (max-width: 320px) {
  .jumbotron .btn {
    font-size: 75%;
  }
}
@media screen and (max-width: 450px) {
  .nav-pills > li {
    float: none;
  }
}
.loading {
  border: 1px solid #ccc;
  width: 100%;
  height: 500px;
  background: url(/visuals/ajax-loader.gif) no-repeat center center;
}
/*
Back to top button
*/
#back-top {
	position: fixed;
	bottom: 30px;
}
#back-top a {
	width: 54px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}
/* arrow icon (span tag) */
#back-top span {
	width: 54px;
	height: 54px;
	display: block;
	margin-bottom: 7px;
	background: #ddd url(/visuals/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}
@media screen and (min-width: 700px) {
  .container {
    padding-left: 75px;
    padding-right: 75px;
  }
  #back-top {
	  margin-left: -75px;
  }
}
.application {
  font-style: italic;
}
.guimenuitem, .guilabel {
        font-weight: bold;
}
.guibutton, .guimenu {
        background-color: #FFFFFF;
        padding: 2px;
}

