.carousel {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.carousel-caption {
  position: static;
  color: #000000;
  padding: 0;
}
.carousel-inner {
  padding-bottom: 30px;
  text-align: center;
}
.carousel-inner > .item > img {
  display: inline;
  height: 600px;
}
.carousel-indicators li {
    border: 1px solid #000000;
}
.carousel-indicators .active {
    background-color: #000000;
}
.well {
  text-align: center;
}
.nav li.active .caret {
    border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.dropdown-menu {
  min-width:0px; 
}
dl.versionlist {
  position: relative;
}
dl.versionlist dt {
  float: left; clear:left; font-weight: bold; margin-bottom: -1px; margin-right: 2px;
}
dl.versionlist dd {
  margin-left: 4.5em;
}
.versioncode {
  display: inline-block;
  width: 4.5em;
  }
.versiondate {
  display: inline-block;
  width: 6em;
}
.jumbotron .btn {
  cursor: default;
  margin: 5px;
}
.carousel .error {
  height: 500px;
  color: red;
  padding: 235px 0;
}
.carousel img {
  padding: 30px 0; 
  max-width: 80%;
}
/* Smartphone portrait */
@media (max-width: 320px) {
  .jumbotron .btn {
    font-size: 75%;
  }
}
#go-premium {
  width: 172px;
  height: 60px;
}
