---
layout: default
section: summary
lang: en
---
<h2>Summary</h2>
<ul>
<li>Keep track of your expenses and incomes.</li>
<li>Manage them directly on your smartphone.</li>
<li>Export them into a Desktop finance program like
  <a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken or  MS Money.</li>
<li>Works on all Android versions from 2.1. to 4.3.</li>
</ul>
<h2>
  Features
</h2>
<h3>Free</h3>
<ul>
  <li>Multiple accounts with transfers.</li>
  <li>Create transactions from templates</li>
  <li>Two levels of categories (import from Grisbi XML)</li>
  <li>Share export file (via email, FTP, Dropbox, ...)</li>
  <li>Data backup and restore</li>
  <li>Password protection</li>
  <li>Export to QIF and CSV (MS Excel)</li>
  <li>Calculator</li>
  <li>Group transactions per day, week, month, year and display sums per group {% include new.html %}</li>
</ul>
<h3>Premium</h3>
<p>The following features can be tried out five times for free and will be unlocked if you buy
<span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">My Expenses Contrib</a></span> :
</p>
<ul>
<li>Restore backups without uninstall/reinstall</li>
<li>Aggregate financial situation in account list</li>
<li>Editing of templates</li>
<li>Reset all accounts in batch</li>
<li>Security question for password loss</li>
<li>Cloning of transactions</li>
<li>Split transactions {% include new.html %}</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
