---
layout: default
section: summary
lang: en
---
<h2>Summary</h2>
<ul>
<li>Keep track of your expenses and incomes.</li>
<li>Manage them directly on your smartphone.</li>
<li>Export them into a Desktop finance program like
  <a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken or  MS Money.</li>
<li>Works on all Android versions from 2.0. to 4.2. </li>
</ul>
<h2>
  Features
</h2>
<ul>
  <li>Multiple accounts with transfers.</li>
  <li>Create transactions from templates</li>
  <li>Two levels of categories (import from Grisbi XML)</li>
  <li>Share export file (via email, FTP, Dropbox, ...)</li>
  <li>Data backup and restore</li>
  <li>Password protection</li>
  <li>Export to QIF and CSV (MS Excel)</li>
  <li>Calculator</li>
  <li>Split transactions</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
