---
layout: neu
lang: en
en:
  imprint: Imprint
  hero_main: "Personal finance manager for Android"
  hero_sub:
    - "Easy to use"
    - "Rich functionality"
    - "Open Source"
  sections:
    participate: Participate
    faq: FAQ
    versionlist: Changelog
    credits: Credits
    licence: Licence
    sourcecode: Source code
    links: Links
  features:
    manage_accounts: Up to five accounts with transfers (unlimited in Contrib version)
    grouped_list: Group transactions per day, week, month, year and display sums per group
    distribution: Two levels of categories (import from Grisbi XML), display distribution of transactions in Contrib version
    split: Split transactions (Contrib version)
    calculator: Calculator
    export: Export to QIF and CSV (MS Excel), can be automatically shared (via email, FTP, Dropbox, ...) and done in batch in Contrib version
    password: Password protection, recoverable with security question in Contrib version
    help: Integrated Help
    new_from_template: Create transactions from templates (editable in Contrib version)
    backup: Data backup and restore (in Contrib version without uninstall)
    aggregate_dialog: Aggregate financial situation (Contrib version)
    light_theme: "Two themes: light and dark"
  contrib-feature-dialog-title: |
    My Expenses Contrib gives you unrestricted access to the following Premium features:
  contrib:
    - Unlimited number of accounts
    - Distribution of transactions per category
    - Split transaction
    - Security question
    - Reset all accounts
    - Aggregates over multiple accounts
  dialog-close: Close
  dialog-buy: Buy
---
{% include participate_en.html %}
{% include faq_en.html %}
{% include versionlist.html %}
{% include imprint_en.html %}


