---
layout: default
section: participate
lang: en
---
<h2>Contribute</h2>
<p>
  By installing <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">My Expenses Contrib</a></span>,
  you help keeping <span class="application">My Expenses</span> ad free and open source. Starting with
  version 1.7.0, the following new features can be tried five times, and will be unlocked for unrestricted use once you install the Contrib app:
</p>
<ul>
<li>Restore backups without uninstall/reinstall</li>
<li>Aggregate financial situation in account list</li>
<li>Editing of templates.</li>
<li>Reset all accounts in batch.</li>
<li>Security question for password loss</li>
<li>Cloning of transactions</li>
<li>Split transactions <span class="label label-success">New</span></li>
</ul>
<p>
  If you participate by any other means, as explained below, you can request a contrib key
  from the preferences screen, which will also unlock all premium features.
</p>
<h2>Participate</h2>
<p>Working on <span class="application">My Expenses</span> is fun and rewarding through your
  appreciative and constructive feedback. Leave a comment in 
  <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>,
  or add your comment to one of the posts in the <a href="/#news">news</a> section.
</p>
<p><span class="application">My Expenses</span> evolves through your reports and suggestions.
  If you find a problem or think of an improvement,
  create a <a href="https://github.com/mtotschnig/MyExpenses/issues/new">new issue</a>, in Github's Issue Tracker.
</p>
<p>
  If you are interested in helping to test upcoming versions, please join the
  <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a> Google
  Group.
</p>
<p>You can also help <a href="/en/translate.html">translate</a> <span class="application">My Expenses</span> into new languages
  (e.g. {{site.missing_langs}}, ...).
</p>
<h2>Source code</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="/#install">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="/#licence">licence</a>.
</p>
<h2 id="donate">Donate</h2>
<p id="money">
  Finally, you can send a donation via 
   {% include flattr.html %} or {% include paypal.html %} .
</p>

