{% assign placeholder = '{app_name}' %}
<!--
  Credits
-->
<div class="block" id="credits" style="display:none">
    <h2>Credits</h2>
    <ul>
        <li>Current app icon created by Pierluigi Rufo.</li>
        <li>Original app icon and promotional image created by <a href="http://99designs.de/users/349317">Christian
            Alban</a>, as the winner of a design contest hosted at <a href="http://99designs.de">99
            designs</a>.
        </li>
        <li><a class="intern" href="#translate">Localization</a></li>
        <li>Code contributions:
            <ul>
                <li>Configuring and applying custom colors to accounts: <a
                        href="https://github.com/khris78">khris78</a></li>
            </ul>
        </li>
        <li>Website built with:
            <ul>
                <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                <li>Nexus S Device Frame Generation based on
                    <a href="http://android-ui-utils.googlecode.com/hg/asset-studio/dist/device-frames.html">Android
                        Asset Studio</a></li>
            </ul>
        </li>
    </ul>
</div>

<!--
  Licence
-->
<div class="block" id="licence" style="display:none">
    <h2>Licence</h2>
    <p><a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License version 3</a></p>
</div>

<!--
  Source code
-->
<div class="block" id="sourcecode" style="display:none">
    <h2>Source code</h2>
    <p>
        <span class="application">My Expenses</span> is <a
            href="http://www.gnu.org/philosophy/free-sw.html">free
        software</a>, you can download its source code from <a
            href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
        inspect how it works, maybe learn from it, improve it, even redistribute it, provided you
        respect
        the <a href="/#licence">licence</a>.
    </p>
</div>

<!--
  Links
-->
<div class="block" id="links" style="display:none">
    <h2>Links</h2>
    <ul>
        <li>Presentation in the blog of Meinnoteblog (German): <a
                href="http://meinnoteblog.wordpress.com/2012/07/14/finanzverwaltung-mit-android/">Finanzverwaltung
            mit Android</a></li>
        <li>Post in German Quicken user forum: <a
                href="http://www.kaiwu.de/cgi-bin/sbb//sbb.cgi?&amp;a=show&amp;forum=103&amp;show=11">Meine
            Ausgaben (Android und Quicken)</a></li>
        <li>Presentation in the blog of Wilfried Caruel (French): <a
                href="http://www.wilfriedcaruel.me/2013/05/presentation-de-mes-depenses.html">Présentation
            de mes dépenses</a></li>
        <li>Article on expense tracking in German weekly newspaper Die Zeit, which evaluates My
            Expenses: <a href="https://www.zeit.de/2014/23/apps-haushaltsbuch">Ein Euro hier, fünf
                Euro da</a></li>
        <li>My Expenses presented on Vietnamese software review site <a
                href="https://taimienphi.vn/download-my-expenses-84843">https://taimienphi.vn</a>
        </li>
        <li>My Expenses included into list of Best Personal Expense Apps of 2021 on <a
                href="https://leapdroid.com/best-personal-expense-apps-of-2021-android/">Leap
            Droid</a></li>
        <li>Interview with the developer of a fantastic app on <a
                href="https://appoftheday.downloadastro.com/app/my-expenses/">appoftheday.downloadastro.com</a>
        </li>
        <li>My Expenses reviewed on <a
                href="https://freeappsforme.com/my-expenses-app-review/">freeappsforme.com</a>
        </li>
    </ul>
</div>

<!--
  Translation
-->

<div class="block" id="translate" style="display:none">
    <h2>Instructions for translators</h2>
    <p>
        Thank you for your interest in helping make <span class="application">My Expenses</span>
        available in
        different languages. Currently <span class="application">My Expenses</span> is translated to
        34 languages (Arabic, Basque, Bulgarian, Catalan, Chinese (China), Chinese (Taiwan), Chinese
        (Hongkong),
        Croation, Czech, Danish, French, German, Greek, Hebrew, Hungarian, Italian, Japanese,
        Kannada,
        Khmer, Korean, Malay, Polish, Portuguese (Brazil), Portuguese (Portugal), Romanian, Russian,
        Sinhala, Spanish, Tamil, Telugu, Turkish, Ukrainian, Vietnamese) by close to 100
        <a href="https://raw.githubusercontent.com/mtotschnig/MyExpenses/master/myExpenses/src/main/res/values/translators.xml">volunteers</a>.
    </p>
    <p>Translations are managed at <a href="https://hosted.weblate.org/projects/my-expenses/">Weblate</a>,
        which provides a nice editor with very helpful productivity tools. If you want to start a
        translation into a new language,
        or help review or complete one of the existing ones, please register at Weblate and/or
        contact translations@myexpenses.mobi.</p>
    <p>Translations are grouped into components depending on how they are referenced in the
        project's source code :
    <dl>
        <dt><a href="https://hosted.weblate.org/projects/my-expenses/strings/">Strings</a></dt>
        <dd>This resource has all messages appearing in the user interface, from button labels, to
            informative
            dialogues
        </dd>
        <dt><a href="https://hosted.weblate.org/projects/my-expenses/help/">Help</a></dt>
        <dd>On each application screen, <span class="application">My Expenses</span> provides a help
            dialogue
            explaining the availaible functionality. This resource has the titles for the help
            dialogues, and
            all help texts.
        </dd>
        <!--   <dt><a href="https://www.transifex.com/mtotschnig/my-expenses/upgrade">Upgrade</a></dt>
          <dd>This resource stores the description of changes for each new version. They are shown to users
            after an upgrade, but they are also used to populate the changelog on this website.</dd> -->
        <dt><a href="https://hosted.weblate.org/projects/my-expenses/categories/">Categories</a>
        </dt>
        <dd><span class="application">My Expenses</span> allows to import a set of default
            categories for each
            language. This resource includes the English categories as a template for a new
            language. It is also possible to
            define custom categories that reflect more accurately the economic reality of a
            linguistic region outside of Weblate.
        </dd>
        <dt><a href="https://hosted.weblate.org/projects/my-expenses/glossary/">Glossary</a></dt>
        <dd>Weblate allows to maintain a glossary for often used terminology, and will show this in
            the editor where applicable, thus helping to maintain consistency.
        </dd>

        <!--   <dt><a href="https://www.transifex.com/mtotschnig/my-expenses/screenshots/">Screenshots</a></dt>
          <dd>Information needed by the script that generates the localized screenshots on this website.</dd>
          <dt><a href="https://www.transifex.com/mtotschnig/my-expenses/website/">Website</a></dt>
          <dd>All the headings, info bits and screenshot labels used on this website.</dd>
          <dt><a href="https://www.transifex.com/mtotschnig/my-expenses/KeyDeliveryEmailV2/">KeyDeliveryEmail</a></dt>
          <dd>The contents of the message containing the licence key, sent to users after purchase.</dd> -->
    </dl>
    <p>I am looking forward to collaborating with you on making <span class="application">My Expenses</span>
        available in your language!</p>
</div>

<!--
  Contrib
-->

<div class="block" id="premium" style="display:none">
    <h2>{{t.sections.premium}}</h2>
    <p>{{t.contrib.feature-list-title | replace:placeholder, site.title[pagelang]}}</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>{{t.contrib-key}}<br><span class="label label-success">{{t.contrib.one-time-payment}}</span>
            </th>
            <th>{{t.extended-key}}<br><span class="label label-success">{{t.contrib.one-time-payment}}</span>
            </th>
            <th>{{t.professional-key}}<br><span class="label label-success">{{t.contrib.subscription}}</span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for feature in site.contrib %}
        <tr>
            <td>{{t.contrib.feature[feature]}}</td>
            <td class="checked">✓</td>
            <td class="checked">✓</td>
            <td class="checked">✓</td>
        </tr>
        {% endfor %}
        {% for feature in site.extended %}
        <tr>
            <td>{{t.contrib.feature[feature]}}{% if site.footnote[feature] %}
                <p class="footnote">{{site.footnote[feature]}}</p>
                {% endif %}</td>
            <td></td>
            <td class="checked">✓</td>
            <td class="checked">✓</td>
        </tr>
        {% endfor %}
        {% for feature in site.professional %}
        <tr>
            <td>{{t.contrib.feature[feature]}}</td>
            <td></td>
            <td></td>
            <td class="checked">✓</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--
  Participate
-->

<div class="block" id="participate" style="display:none">
    <h2>{{t.sections.participate}}</h2>
    <p>With your support, <span class="application">My Expenses</span> keeps growing in
        functionality, while being distributed
        ad free and Open Source.</p>
    <ul>
        <li><span class="application">My Expenses</span> evolves through your reports and
            suggestions.
            If you find a problem or think of an improvement,
            create a <a href="https://github.com/mtotschnig/MyExpenses/issues/new">new issue</a>, in
            Github's Issue Tracker.
        </li>
        <li>If you are interested in helping to test upcoming versions, please join the
            <a href="https://play.google.com/apps/testing/org.totschnig.myexpenses">Beta test</a>.
        </li>
        <li>You can also help <a class="intern" href="#translate">translate</a> <span
                class="application">My Expenses</span> into new languages.
        </li>
        <li>Please consider purchasing one of the <a class="intern" href="#premium">Licence Keys</a>
            and gain access to more features.
        </li>
        <li>If you just want to express your support to the project, you can send a donation via
            <a href="https://github.com/sponsors/mtotschnig">Github Sponsors</a>,
            <a id="bitcoin" href="bitcoin:15WECHs6zGQyyiRYoLmVzWYfoKVDoipmSp">Bitcoin</a>
                        (15WECHs6zGQyyiRYoLmVzWYfoKVDoipmSp) or
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KPXNZHMXJE8ZJ"
               target="_top">Paypal</a>.
        </li>
    </ul>
</div>

<!--
  Versionlist
-->

<div class="block" id="versionlist" style="display:none">
    <h2>{{page.sections.versionlist}}</h2>
    <dl class="versionlist">
    {% capture versionlang %}{{ page.lang | slice: 0,2 }}{% endcapture %}
        {% for version in site.versions %}
        <dt><span class="versioncode">{{version[0]}}</span><span class="versiondate">{{version[1]}}</span></dt>
        <dd>
        {% if version.size == 4 %}
                {% if version[3]['github'] %}<a href="https://github.com/mtotschnig/MyExpenses/projects/{{version[3]['github']}}"><img class="versionlinks" src="/visuals/github.ico"></a>{% endif %}
                {% if version[3]['github2'] %}<a href="https://github.com/users/mtotschnig/projects/{{version[3]['github2']}}"><img class="versionlinks" src="/visuals/github.ico"></a>{% endif %}
                {% if version[3]['mastodon'] %}<a href="https://mastodon.social/@myexpenses/{{version[3]['mastodon']}}"><img class="versionlinks" src="/visuals/mastodon.png"></a>{% endif %}
        {% endif %}
        {% if version[2][versionlang] %}{{version[2][versionlang]}}{% else %}{{version[2]['en']}}{% endif %}
        </dd>
        {% endfor %}
    </dl>
</div>

<!--
  Thank you After Purchase
-->

<div class="block" id="thankyou" style="display:none">
    <h2>Thank you</h2>

    <p>Thank you for your payment. Your transaction has been completed, and a receipt
        for your purchase has been emailed to you.
        You may log into your account at www.paypal.com to view details of this transaction.
        In order to claim your key, open My Expenses on your Android device, go to the Settings
        screen and click on the "Request a key" entry.
        <script>
function getURLParameter(name) {
  return decodeURI(
    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
   );
}
var transactionId = getURLParameter("tx");
document.write("Please refer to the transaction ID "+ transactionId + " .");


        </script>
    </p>
</div>

<!--
  Imprint
-->

<div class="block" id="imprint" style="display:none">
    <h2>{{t.imprint}}</h2>
    <p>
        {{t.imprint_text | replace:placeholder, site.title[pagelang]}}
        :
        <a href="http://michael.totschnig.org/imprint.html">Michael Totschnig</a>
    </p>
    <h2 id="privacy">{{t.privacy_policy_heading}}</h2>
    <p>
        {{t.privacy_policy_text | replace:placeholder, site.title[pagelang]}}
        <br/>
        {{t.permissions.heading | replace:placeholder, site.title[pagelang]}} :
    </p>
    <dl>
        <dt>{{t.permissions.calendar.label}}</dt>
        <dd>{{t.permissions.calendar.explanation}}</dd>
        <dt>{{t.permissions.internet.label}}</dt>
        <dd>{{t.permissions.internet.explanation_usage_tracking}} (Play),
            {{t.permissions.internet.explanation_crash_reporting}} (Play),
            {{t.permissions.internet.explanation_key_validation}} (F-Droid),
            {{t.permissions.internet.explanation_cloud_sync}} (Play, F-Droid).
        </dd>
        <dt>{{t.permissions.accounts.label}}</dt>
        <dd>{{t.permissions.accounts.explanation}}</dd>
    </dl>
    <hr>
</div>
