h1 {
 font-size:  110%;
}
.toc dl dt {
  display: inline;
}
div {
  margin: 1em 0em;
}
div.screenshot {
  text-align:center;
  margin-right:auto;
  margin-left:auto
}
#footnotes {
  display: block;
  font-size: smaller;
}

@media only screen and (min-device-width: 500px) {
body {
    width:500px;
    margin:0px auto;
}
}
body {
  margin-top: 1.0em;
  background-color: #CEE3F6;
  font-family: Helvetica, Arial, FreeSans, san-serif;
  color: #000000;
}
div.screenshot img {
  cursor:pointer;
}
.application {
  font-style: italic;
}
.guimenuitem, .guilabel {
	font-weight: bold;
}
.guibutton {
	background-color: #CFCFCF;
	padding: 2px;
}
.langselector {
  float:right;
}
