---
layout: neu
lang: de
imprint: Impressum
hero_main: "Persönliches Finanz-Management für Android"
hero_sub:
  - "Einfach zu bedienen"
  - "Reich an Funktionalität"
  - "Open Source"
sections:
  participate: Mitmachen
  faq: FAQ
  versionlist: Änderungen
  credits: Credits
  licence: Licence
  sourcecode: SourceCode
  links: Links
features:
  manage_accounts: Bis zu fünf Konten mit Umbuchungen (unbegrenzt in Contrib Version)
  grouped_list: Buchungen pro Tag, Woche, Monate, Jahr gruppieren und Summen pro Gruppe anzeigen
  categories: Zwei Ebenen von Kategorien mit Import aus Grisbi XML Datei
  split: Splitbuchungen (nur in Contrib Version)
  calculator: Taschenrechner
  export: |
    Export nach QIF und CSV (MS Excel), Übertragung via email, FTP, Dropbox, ...,
    Export aller Konten in einem in Contrib Version
  password: Passwortschutz (Sicherheitsfrage für Passwortverlust in Contrib Version)
  help: Integrierte Hilfe
  new_from_template: Buchungen aus Vorlagen erzeugen (editierbar in Contrib Version)
  backup: Daten Backup und Wiederherstellung (in Contrib Version ohne Deinstallation)
  aggregate_dialog: Darstellung der Gesamtsummen in der Kontenübersicht (Contrib Version)
  light_theme: "Zwei Themen: hell und dunkel"
---
{% include participate_de.html %}
{% include faq_de.html %}
{% include versionlist.html %}
{% include imprint_de.html %}

