---
layout: neu
lang: de
hero_main: "Persönliches Finanz-Management für Android"
hero_sub:
  - "Einfach zu bedienen"
  - "Reich an Funktionalität"
  - "Open Source"
features:
  -
    img: manage_accounts
    caption: Bis zu fünf Konten mit Umbuchungen (unbegrenzt in PREMIUM Version)
  -
    img: grouped_list
    caption: Buchungen pro Tag, Woche, Monate, Jahr gruppieren und Summen pro Gruppe anzeigen
  -
    img: categories
    caption: Zwei Ebenen von Kategorien mit Import aus Grisbi XML Datei
  -
    img: split
    caption: Splitbuchungen (nur in PREMIUM Version)
  -
    img: calculator
    caption: Taschenrechner
  -
    img: export
    caption: Export nach QIF und CSV (MS Excel), Übertragung via email, FTP, Dropbox, ..., Export aller Konten in PREMIUM Version
  -
    img: password
    caption: Passwortschutz (Sicherheitsfrage für Passwortverlust in PREMIUM Version)
  -
    img: help
    caption: Integrierte Hilfe
  -
    img: new_from_template
    caption: Buchungen aus Vorlagen erzeugen (editierbar in PREMIUM Version)
  -
    img: backup
    caption: Daten Backup und Wiederherstellung (in PREMIUM Version ohne Deinstallation)
  -
    img: aggregate_dialog
    caption: Darstellung der Gesamtsummen in der Kontenübersicht (PREMIUM Version)
  -
    img: light_theme
    caption: "Zwei Themen: hell und dunkel"
---
{% include participate_de.html %}
{% include faq_de.html %}
{% include versionlist.html %}
{% include imprint_de.html %}

