---
layout: default
section: summary
lang: de
---
<h2>Zusammenfassung</h2>
<p>
  <span class="application">Meine Ausgaben</span> ist eine Android App zur Verwaltung von Ausgaben, mit dem Ziel, diese als QIF Dateien
  in ein Finanzprogramm, wie <a href="http://www.grisbi.org">Grisbi</a> (Open Source), <a
  href="http://www.gnucash.org">Gnucash</a> (Open Source), MS Money, Quicken oder Wiso Mein Geld
  zu exportieren.<br />
  Benötigt Android 2.0 und höher.
</p>
<h2>
  Funktionalitäten
</h2>
<ul>
  <li>Mehrere Konten mit Umbuchungen.</li>
  <li>Buchungen aus Vorlagen erzeugen</li>
  <li>Zwei Ebenen von Kategorien mit Import aus Grisbi XML Datei.</li>
  <li>Übertragung der QIF Datei (über E-Mail, FTP, Dropbox, ...)</li>
  <li>Daten Backup und Wiederherstellung</li>
  <li>Passwortschutz</li>
</ul>
{% include install.html %}
{% include screenshots.html %}

