---
layout: default
section: participate
lang: de
---
<h2>Beitragen</h2>
<p>
  Wenn Sie <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Meine Ausgaben Contrib</a></span>
  installieren, tragen Sie dazu bei, dass <span class="application">Meine Ausgaben</span> weiterhin 
  werbefrei und OpenSource angeboten wird. Seit der Version 1.7.0. gibt es folgende Premium-Funktionen,
  die Sie fünfmal ausprobieren können, und durch die Contrib App für die weitere Verwendung freischalten
  können:
</p>
<ul>
<li>Darstellung der Gesamtsummen in der Kontenübersicht</li>
<li>Wiederherstellung der Sicherungskopie ohne Deinstallierung/Reinstallierung</li>
<li>Vorlagen verändern</li>
<li>Alle Konten auf einmal zurücksetzen</li>
<li>Sicherheitsfrage für Passwortverlust</li>
<li>Klonen von Buchungen</li>
</ul>
<p>
  Wenn Sie, wie im Folgenden beschrieben, auf andere Weise an der Entwicklung von MyExpenses teilnehmen,
  können Sie über die Einstellungen einen Contrib-Schlüssel anfordern. Dieser schaltet ebenso alle
  Premium-Funktionen frei.
</p>
<h2>Mitmachen</h2>
<p>Die Arbeit an <span class="application">Meine Ausgaben</span> macht noch mehr Spass durch Ihr anerkennendes
  oder konstruktives Feedback. Sie können in <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>
  einen Kommentar veröffentlichen oder einen der Beiträge unter <a href="/#news">news</a> kommentieren.
</p>
<p><span class="application">Meine Ausgaben</span> entwickelt sich durch Ihre Erfahrungsberichte und Vorschläge weiter.
  Falls Sie auf ein Problem stoßen oder eine Verbesserung im Kopf haben, erzeugen Sie einen
   <a href="https://github.com/mtotschnig/MyExpenses/issues/new">Eintrag</a> in Githubs's Issue Tracker.
</p>
<p>
  Falls Sie Interesse haben, beim Testen neuer Versionen helfen, treten Sie der Google Gruppe 
  <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a> bei.
</p>
<p>Sie können auch beim Übersetzen in zusätzliche Sprachen helfen (z.B. {{site.missing_langs}}, ...).
</p>
<h2>Quellcode</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="/#install">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="/#licence">licence</a>.
</p>
<h2 id="donate">Spende</h2>
<p id="money">Schließlich können Sie auch eine Spende schicken, mittels {% include flattr.html %} oder {% include paypal.html %}.
</p>
