---
layout: default
section: participate
lang: de
---
<h2>Mitmachen</h2>
<p>
  Wenn Sie <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Meine Ausgaben Contrib</a></span>
  installieren, tragen Sie dazu bei, dass <span class="application">Meine Ausgaben</span> weiterhin 
  werbefrei und OpenSource angeboten wird und erhalten Zugriff auf alle Premium-Funktionen.
</p>
<p>
  Wenn Sie, wie im Folgenden beschrieben, auf andere Weise an der Entwicklung von MyExpenses teilnehmen,
  können Sie über die Einstellungen einen Contrib-Schlüssel anfordern. Dieser schaltet ebenso alle
  Premium-Funktionen frei.
</p>
<ul>
<li>Die Arbeit an <span class="application">Meine Ausgaben</span> macht noch mehr Spass durch Ihr anerkennendes
  oder konstruktives Feedback. Sie können in <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>
  einen Kommentar veröffentlichen oder einen der Beiträge unter <a href="/#news">news</a> kommentieren.
</li>
<li><span class="application">Meine Ausgaben</span> entwickelt sich durch Ihre Erfahrungsberichte und Vorschläge weiter.
  Falls Sie auf ein Problem stoßen oder eine Verbesserung im Kopf haben, erzeugen Sie einen
   <a href="https://github.com/mtotschnig/MyExpenses/issues/new">Eintrag</a> in Githubs's Issue Tracker.
</li>
<li>
  Falls Sie Interesse haben, beim Testen neuer Versionen zu helfen, treten Sie der Google Gruppe 
  <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a> bei.
</li>
<li>Sie können auch beim <a href="/en/translate.html">Übersetzen</a> in zusätzliche Sprachen helfen (z.B. {{site.missing_langs}}, ...).
</li>
<li id="donate">Schließlich können Sie auch eine Spende schicken, mittels {% include flattr.html %} oder {% include paypal.html %}.
</li>
</ul>
