<?xml version="1.0" encoding="utf-8"?><!--
  This file is part of My Expenses. My Expenses is free software: you 
	can redistribute it and/or modify it under the terms of the GNU General Public 
	License as published by the Free Software Foundation, either version 3 of 
	the License, or (at your option) any later version. My Expenses is distributed 
	in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
	the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU General Public License for more details. You should have received 
	a copy of the GNU General Public License along with My Expenses. If not, 
	see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" tools:replace="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="org.totschnig.ocr.action.RECOGNIZE" />

            <data android:mimeType="image/jpeg" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data
                android:host="details"
                android:scheme="market" />
        </intent>
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:backupAgent=".MyBackupAgent"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_myexpenses"
        android:label="${appName}"
        android:largeHeap="true"
        android:localeConfig="@xml/locales_config"
        android:supportsRtl="true"
        android:theme="@style/MyTheme"
        tools:replace="android:label"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activity.DebtOverview"
            android:exported="false"
            android:label="@string/title_activity_debt_overview"
            android:theme="@style/EditDialog" />
        <activity
            android:name="org.acra.dialog.CrashReportDialog"
            android:theme="@style/CrashDialogTheme"
            tools:replace="android:theme" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.OnboardingActivity"
            android:theme="@style/Onboarding" />
        <activity
            android:name=".activity.MyExpenses"
            android:launchMode="singleTop"
            android:theme="@style/MyTheme" />
        <activity
            android:name=".activity.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback2.html"
                    android:scheme="org.totschnig.myexpenses" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="www.myexpenses.mobi" />
                <data android:path="/callback2.html" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExpenseEdit"
            android:exported="true"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/EditDialog"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="${applicationId}"
                    android:path="/transactions"
                    android:scheme="content" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses" />
        </activity>
        <activity
            android:name=".activity.AccountEdit"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.MethodEdit"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.BudgetEdit"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.ManageCategories"
            android:exported="false"
            android:theme="@style/EditDialog">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.DistributionActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BackupRestoreActivity"
            android:exported="true"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GrisbiImport"
            android:exported="false"
            android:theme="@style/Translucent" />
        <activity
            android:name=".activity.QifImport"
            android:exported="false"
            android:theme="@style/Translucent" />
        <activity android:name=".activity.CsvImportActivity" />
        <activity
            android:name=".activity.PreferenceActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Help"
            android:theme="@style/Translucent" />
        <activity
            android:name=".activity.ManageParties"
            android:exported="false"
            android:theme="@style/EditDialog">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.ManageBudgets"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.ManageStaleImages"
            android:exported="false"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.OcrLauncher"
            android:exported="true"
            android:theme="@style/Translucent" />
        <activity
            android:name=".activity.ManageTemplates"
            android:exported="true"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/EditDialog"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses" />
        </activity>
        <activity
            android:name=".activity.ManageMethods"
            android:exported="false"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.CalculatorInput"
            android:theme="@style/Calculator" />
        <activity
            android:name=".activity.ContribInfoDialogActivity"
            android:exported="true"
            android:theme="@style/Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageCurrencies"
            android:exported="false"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.ManageSyncBackends"
            android:exported="false"
            android:theme="@style/EditDialog" />
        <activity
            android:name=".activity.AccountWidgetConfigure"
            android:exported="true"
            android:label="@string/account_widget_configuration"
            android:theme="@style/Configuration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BudgetWidgetConfigure"
            android:exported="true"
            android:label="@string/budget_widget_configuration"
            android:theme="@style/Configuration">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TemplateShortcutSelect"
            android:exported="true"
            android:icon="@drawable/ic_menu_template_shortcut"
            android:label="@string/template_shortcut"
            android:theme="@style/Configuration">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RoadmapVoteActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activity.HistoryActivity" />

        <activity
            android:name=".activity.SafSetup"
            android:theme="@style/Translucent" />

        <provider
            android:name=".provider.TransactionProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:syncable="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path" />
        </provider>
        <provider
            android:name=".provider.CalendarProviderProxy"
            android:authorities="${applicationId}.calendarinstances"
            android:exported="false" />

        <service android:name=".service.PlanNotificationClickHandler" />
        <service
            android:name=".service.SyncNotificationDismissHandler"
            android:process=":sync" />

        <activity
            android:name=".activity.SimpleToastActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SimpleImageActivity" />
        <activity
            android:name=".activity.BudgetActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ManageTags"
            android:theme="@style/EditDialog" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".activity.DebtEdit"
            android:theme="@style/EditDialog" />

        <activity
            android:name="org.totschnig.myexpenses.activity.TemplateSaver"
            android:exported="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoDisplay" />

        <service
            android:name=".sync.GenericAccountService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <receiver
            android:name=".service.BackupPurgeReceiver"
            android:exported="false" />

        <receiver
            android:name=".service.LegacyAccountChangedReceiver"
            android:enabled="@bool/isBelow26"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".service.AccountRemovedReceiver"
            android:enabled="@bool/is26"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.action.ACCOUNT_REMOVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.AccountWidget"
            android:exported="true"
            android:label="@string/widget_title_accounts">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/account_widget_info" />
        </receiver>
        <receiver
            android:name=".widget.TemplateWidget"
            android:exported="true"
            android:label="@string/widget_title_templates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/template_widget_info" />
        </receiver>

        <receiver
            android:name=".widget.BudgetWidget"
            android:exported="false"
            android:label="@string/widget_title_budget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/budget_widget_info" />
        </receiver>

        <service
            android:name=".widget.AccountWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.TemplateWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>


        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
    </application>

</manifest>