<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of My Expenses. My Expenses is free software: you 
	can redistribute it and/or modify it under the terms of the GNU General Public 
	License as published by the Free Software Foundation, either version 3 of 
	the License, or (at your option) any later version. My Expenses is distributed 
	in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
	the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU General Public License for more details. You should have received 
	a copy of the GNU General Public License along with My Expenses. If not, 
	see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.totschnig.myexpenses"
          android:installLocation="internalOnly">

    <uses-sdk tools:overrideLibrary="android.support.v14.preference"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_myexpenses"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Launch"
        tools:ignore="UnusedAttribute">


        <activity
            android:name=".activity.WelcomeActivity"
            android:label="${appName}"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyExpenses"
            android:label="@string/title_activity_welcome"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback.html"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ExpenseEdit"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses"/>
        </activity>
        <activity
            android:name=".activity.AccountEdit"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>
        <activity
            android:name=".activity.MethodEdit"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>
        <activity
            android:name=".activity.ManageCategories"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="myexpenses.intent.manage.categories"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".activity.BackupRestoreActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="myexpenses.intent.backup"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="myexpenses.intent.restore"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GrisbiImport"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="myexpenses.intent.import_from_grisbi"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QifCSVImport"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="myexpenses.intent.import"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CsvImportActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.MyPreferenceActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Help"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageParties"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="myexpenses.intent.manage.parties"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageStaleImages"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="myexpenses.intent.manage.stale_images"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ManageTemplates"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="vnd.android.cursor.item/event"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses"/>
        </activity>
        <activity
            android:name=".activity.ManageMethods"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <intent-filter>
                <action android:name="myexpenses.intent.manage.methods"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FolderBrowser"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>
        <activity
            android:name=".activity.CalculatorInput"
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContribInfoDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"/>
        <activity
            android:name=".activity.ManageCurrencies"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>
        <activity
            android:name=".activity.CurrencyActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.TransactionProvider"
            android:authorities="${applicationId}"
            android:exported="false"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path"/>
        </provider>
        <provider
            android:name=".provider.CalendarProviderProxy"
            android:authorities="${applicationId}.calendarinstances"
            android:exported="false"/>

        <service android:name=".service.PlanExecutor"/>
        <service android:name=".service.PlanNotificationClickHandler"/>
        <service
            android:name=".service.AutoBackupService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.totschnig.myexpenses.ACTION_SCHEDULE_AUTO_BACKUP"/>
                <action android:name="org.totschnig.myexpenses.ACTION_AUTO_BACKUP"/>
            </intent-filter>
        </service>

        <receiver android:name=".service.ScheduledAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="org.totschnig.myexpenses.SCHEDULED_BACKUP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data
                    android:path="org.toschnig.myexpenses"
                    android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.AccountWidget"
            android:label="@string/widget_title_accounts">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="org.totschnig.myexpenses.UPDATE_WIDGET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_accounts"/>
        </receiver>
        <receiver
            android:name=".widget.TemplateWidget"
            android:label="@string/widget_title_templates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="org.totschnig.myexpenses.UPDATE_WIDGET"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_templates"/>
        </receiver>

        <receiver
            android:name=".service.SmsNotificationReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>