<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of My Expenses. My Expenses is free software: you 
	can redistribute it and/or modify it under the terms of the GNU General Public 
	License as published by the Free Software Foundation, either version 3 of 
	the License, or (at your option) any later version. My Expenses is distributed 
	in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even 
	the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the GNU General Public License for more details. You should have received 
	a copy of the GNU General Public License along with My Expenses. If not, 
	see <http://www.gnu.org/licenses/>.
-->
<manifest package="org.totschnig.myexpenses"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="internalOnly">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute"/>

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22"/>
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="25"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false" />

    <application
        android:name="org.totschnig.myexpenses.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/mybackupscheme"
        android:icon="@mipmap/ic_myexpenses"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/Launch"
        tools:replace="android:label">

        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SuwThemeMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".activity.MyExpenses"
            android:label="${appName}"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
            android:name=".activity.DeepLinkActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback2.html"
                    android:scheme="https"/>

                <data
                    android:host="www.myexpenses.mobi"
                    android:path="/callback.html"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ExpenseEdit"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"
            android:exported="true"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" android:host="${applicationId}" android:path="/transactions" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses"/>
        </activity>

        <activity
            android:name=".activity.AccountEdit"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>

        <activity
            android:name=".activity.MethodEdit"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>

        <activity
            android:name=".activity.ManageCategories"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity
            android:name=".activity.BackupRestoreActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>

        <activity
            android:name=".activity.GrisbiImport"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>

        <activity
            android:name=".activity.QifImport"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>

        <activity
            android:name=".activity.CsvImportActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".activity.MyPreferenceActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.Help"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ManageParties"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>

        <activity
            android:name=".activity.ManageStaleImages"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>

        <activity
            android:name=".activity.ManageTemplates"
            android:parentActivityName=".activity.MyExpenses"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="vnd.android.cursor.item/event"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.totschnig.myexpenses.activity.MyExpenses"/>
        </activity>

        <activity
            android:name=".activity.ManageMethods"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>

        <activity
            android:name=".activity.FolderBrowser"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>

        <activity
            android:name=".activity.CalculatorInput"
            android:theme="@style/Theme.AppCompat.Light.Dialog.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ContribInfoDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ManageCurrencies"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>

        <activity
            android:name=".activity.ManageSyncBackends"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge">
        </activity>
        
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-09ctg08r5gnsh5c"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.RoadmapVoteActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity android:name=".activity.HistoryActivity" />

        <provider
            android:name=".provider.TransactionProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:syncable="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_path"/>
        </provider>

        <provider
            android:name=".provider.CalendarProviderProxy"
            android:authorities="${applicationId}.calendarinstances"
            android:exported="false"/>

        <service
            android:name=".service.PlanExecutor"
            android:exported="${debug}"/>

        <service android:name=".service.PlanNotificationClickHandler"/>

        <service android:name=".service.SyncNotificationDismissHandler"/>

        <activity android:name=".activity.SimpleToastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SimpleImageActivity"
            android:theme="@style/Launch"/>

        <activity android:name=".activity.BudgetActivity"
                  android:exported="false"
                  android:theme="@style/Theme.AppCompat.Light.DialogWhenLarge"/>

        <service
            android:name=".service.AutoBackupService"
            android:exported="${debug}"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_SCHEDULE_AUTO_BACKUP"/>
                <action android:name="${applicationId}.ACTION_AUTO_BACKUP"/>
            </intent-filter>
        </service>

        <service
            android:name=".sync.GenericAccountService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:process=":sync"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter"/>
        </service>

        <receiver android:name=".service.GenericAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".service.ScheduledBackupReceiver" />

        <receiver
            android:name="org.totschnig.myexpenses.widget.AccountWidget"
            android:label="@string/widget_title_accounts">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_accounts"/>
        </receiver>

        <receiver
            android:name="org.totschnig.myexpenses.widget.TemplateWidget"
            android:label="@string/widget_title_templates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_templates"/>
        </receiver>

        <meta-data
            android:name="com.samsung.android.sdk.multiwindow.enable"
            android:value="true"/>
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true"/>
        <!-- <meta-data android:name="com.samsung.android.sdk.multiwindow.penwindow.enable" android:value="true"/> -->
        <!-- <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" /> -->
    </application>

</manifest>
