[submodule "StickyListHeaders"]
	path = StickyListHeaders
	url = git://github.com/mtotschnig/StickyListHeaders.git
[submodule "MaterialSeekBarPreference"]
	path = MaterialSeekBarPreference
	url = git://github.com/mtotschnig/MaterialSeekBarPreference.git
[submodule "Caldroid"]
	path = Caldroid
	url = https://github.com/mtotschnig/Caldroid.git
	branch = master
