---
---
<html>
<head>
<script type="text/javascript" src="/script/utils.js" charset="UTF-8"> </script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script type="text/javascript">
<!--
function getURLParameter(name) {
  return decodeURI(
    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,''])[1]
   );
}
function findDestination() {
  var  userLang = (getURLParameter("lang") || window.navigator.userLanguage || window.navigator.language).substring(0,2);
  var hash = window.location.hash != "" ? window.location.hash.substring(1) : "";
  var path;
  var translations = new Array();
  switch (hash) {
  {% for section in site.sections %}
    case "{{section[0]}}":
      path = "/{{section[1].url}}"
      translations = [{% for title in section[1].title %}"{{title[0]}}"{% unless forloop.last %},{% endunless %}{% endfor %}];
      break;
      {% for tag in section[1].tags %}
      case "{{tag}}":
        path = "/{{section[1].url}}#{{tag}}"
        translations = [{% for title in section[1].title %}"{{title[0]}}"{% unless forloop.last %},{% endunless %}{% endfor %}];
        break;
      {% endfor %}
  {% endfor %}
    case "tutorial":
    case "tutorial_r4":
      path = "/tutorial_r4/introduction.html"
      translations = ["en","fr","de","it","es"];
      break;
    case "paypal":
      return "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KPXNZHMXJE8ZJ";
    case "flattr":
      return "https://flattr.com/thing/1028216/My-Expenses-GPL-licenced-Android-Expense-Tracking-App";
    case "news":
      return "https://plus.google.com/116736113799210525299";
    default:
      path = ""
      translations = ["en","de","fr","it","es"];
  }
  var lang = translations.indexOf(userLang) > -1 ? userLang : "en";
  return "http://" + window.location.host + "/" + lang + path;
}
window.location.replace(findDestination());
//-->
</script>
</head>
<body>
<noscript>
<ul>
{% for title in site.title %}
    <li><a href="{{title[0]}}">{{title[1]}}</a></li>
{% endfor %}
</ul>
</noscript> 
</body>


