---
layout: neu
lang: hu
hu:
  imprint: Impresszum
  hero_main: "A személyes pénzügyi menedzser Androidra"
  hero_sub:
  - Egyszerű használat
  - Kiterjedt funkcionalitás
  - Nyílt forráskód
  latest_news: Újdonságok
  sections:
    participate: Támogatás
    faq: GYIK
    versionlist: Újdonságok
    credits: Közreműködők
    licence: Licensz
    sourcecode: Forráskód
    links: Linkek
  features:
    manage_accounts: Akár öt számla kezelése, számlák közötti átvezetéssel (korlátlan a Contrib verzióban)
    grouped_list: Tranzakciók csoportosítása napi, heti, havi, éves összesítéssel - kategóriánként
    distribution: Két szintű kategorizálás (a Grisbi XML-nek megfelelően), a Contrib verzióban a tranzakciók részletes megjelenítési lehetőségével
    split: Megosztott tranzakciók (a Contrib verzióban)
    calculator: Számológép
    export: Adatok exportálása QIF és CSV (MS Excel) formátumban, amely automatikusan megosztható emailben, FTP-n, Dropbox-on, stb... - mindezt automatizálva a Contrib verzióban
    password: Jelszavas védelem - jelszó visszaállítási lehetőséggel (biztonsági kérdésre adott válasszal) a Contrib verzióban
    help: Integrált súgó
    new_from_template: Sablonok készítése a tranzakciókból
    backup: Adat mentés és visszaállítás
    aggregate_dialog: A pénzügyi helyzet összesítése (csak a Contrib verzióban)
    light_theme: "Két háttértéma: világos és sötét"
  contrib-feature-dialog-title: |
    A My Expenses Contrib (Prémium) verzió kiterjesztett, megkötések nélkül használható lehetőségei:
  contrib:
  - Korlátlan számú számla kezelése
  - Tranzakciók kategóriánkénti felosztása
  - Tranzakciók megosztása a számlák között
  - Biztonsági kérdés - jelszó visszaállításhoz
  - Az összes számla alaphelyzetbe állítása
  - Több számla tételeinek összesítése
  dialog-close: Bezár
  dialog-buy: Vásárlás
---
{% include participate_en.html %}
{% include faq_en.html %}
{% include versionlist.html %}
{% include imprint_en.html %}


