<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.totschnig.drive">
    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activity.DriveSetup2"/>
    </application>


    <dist:module
        dist:instant="false"
        dist:title="@string/title_drive">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>