---
layout: neu
lang: it
imprint: Colophon
hero_main: "Gestione delle finanze personali per Android"
hero_sub:
  - "Facile da usare"
  - "Ricco di funzionalità"
  - "Open Source"
sections:
  participate: Partecipare
  faq: FAQ
  versionlist: Aggiornamenti
  credits: Generico
  licence: Licenza
  sourcecode: Codice sorgente
  links: Collegamenti
features:
  manage_accounts: Fino a cinque conti con trasferimenti (illimitato in versione Contrib)
  grouped_list: Raggruppamento al giorno, settimana, mese, anno e visualizzazione delle somme per gruppo
  categories: Due livelli di categorie (importazione da Grisbi XML)
  split: Operazioni suddivise (versione Contrib)
  calculator: Calcolatrice
  export: |
    Formati di esportazione: QIF e CSV (MS Excel), caricare file export via FTP, e-mail o Dropbox, ...,
    Esporta tutti in una sola operazione (versione Contrib)
  password: Protezione con password, domanda di sicurezza in versione Contrib
  help: Aiuto integrato
  new_from_template: Creare operazione riguardo modelli (modificabile in versione Contrib)
  backup: Backup e ripristino di dati (senza disinstallare in versione Contrib)
  aggregate_dialog: Raffigurazione della situazione finanziaria sommata (versione Contrib)
  light_theme: "Due stili: buio e chiaro"
---
{% include participate_it.html %}
{% include faq_it.html %}
{% include versionlist.html %}
{% include imprint_it.html %}


