---
layout: default
section: summary
lang: it
---
<h2>Riassunto</h2>
<ul>
<li>Tenere traccia delle tue spese e redditi.</li>
<li>Gestire direttamente sul vostro smartphone.</li>
<li>Esportarli in un programma di finanza Desktop come Grisbi, GnuCash, Quicken o MS Money.</li>
<li>Funziona su tutte le versioni di Android dalla 2.1. a 4.3.</li>
</ul>
<h2>
  Caratteristiche
</h2>
<h3>Gratis</h3>
<ul>
  <li>Piú conti con trasferimenti</li>
  <li>Creare operazione riguardo modelli</li>
  <li>Due livelli di categorie (importazione da Grisbi XML)</li>
  <li>Caricare file export via FTP, e-mail o Dropbox, ...</li>
  <li>Backup e ripristino di dati</li>
  <li>Protezione con password</li>
  <li>Formati di esportazione: QIF e CSV (MS Excel)</li>
  <li>Calcolatrice</li>
  <li>Raggruppamento al giorno, settimana, mese, anno e visualizzazione delle somme per gruppo {% include new.html %}</li>
</ul>
<h3>Premium</h3>
<ul>
<li>Raffigurazione della situazione finanziaria sommata</li>
  <li>Ripristino del backup senza disinstallare / reinstallare</li>
  <li>Modificare modelli</li>
<li>Reinitializare tutti i conti</li>
<li>Domanda di sicurezza</li>
<li>Ricopiare operazioni</li>
  <li>Operazioni suddivise {% include new.html %}</li>
</ul>
{% include install.html %}
{% include screenshots.html %}

