---
layout: default
section: participate
lang: it
---
<h2>Contribuire</h2>
<p>
  Se Lei installa <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Le Mie Spese Contrib</a></span>,
  aiuta che <span class="application">Le Mie Spese</span> continuerà ad essere offerto open source
  et senza pubblicità. Dalla versione 1.7.0. ci sono le seguenti funzionalità speciali che lei può
  provare per cinque volte, e le quali può attivare per un ulteriore uso con la Contrib App:
</p>
<ul>
  <li>Raffigurazione della situazione finanziaria sommata</li>
  <li>Ripristino del backup senza disinstallare / reinstallare</li>
  <li>Modificare modelli</li>
<li>Reinitializare tutti i conti</li>
<li>Domanda di sicurezza</li>
<li>Ricopiare operazioni</li>
</ul>
<p>
  Se lei contribuisce - come descritto di seguito - in altri modi allo sviluppo di Le Mie Spese, può
  richiedere la sua chiave contrib nelle impostazioni. Anche questa attiva tutte le funzionalità
  speciali.
</p>
<h2>Partecipare</h2>
<p>Lavorare a <span class="application">Le Mie Spese</span> è divertito e mi sento remunerato attraverso il suo
  feedback aggradito e costruttivo. Lascia un commento nel 
  <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>, o per uno dei posti nelle sezione 
  <a href="/#news">news</a>.
</p>
<p><span class="application">Le Mie Spese</span> si evolve per i suoi rapporti e incitamenti. Se trova un problema o
  pensa a un miglioramento, crea un <a href="https://github.com/mtotschnig/MyExpenses/issues/new">nuovo tema</a>, in Github's Issue Tracker.
</p>
<p>
  Se siete interessati ad aiutare a testare prossime versioni, si prega di aderire al Google
  Gruppo <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</p>
<p>Essi possono anche aiutare a <a href="/en/translate.html">traduire</a> in altre lingue (ad esempio {{site.missing_langs}}, ...).
</p>
<h2>Codice sorgent</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="/#install">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="/#licence">licence</a>.
</p>
<h2 id="donate">Donare</h2>
<p id="money">
  Infine, è possibile inviare una donazione tramite
   {% include flattr.html %} o {% include paypal.html %} .
</p>
