<div class="modal fade" id="contrib-features" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{msg.contrib-feature-dialog-title}}</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            {% for feature in msg.contrib %}
            <li class="list-group-item">{{feature}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{msg.dialog-close}}</button>
          <a id="contrib" class="track btn btn-primary" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">{{msg.dialog-buy}}</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
