<div class="block" id="faq" style="display:none"><h2>
      
      
      Häufig gestellte Fragen
      
      
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-share-de">
            Kann ich die QIF Datei auf Google Docs oder Dropbox übertragen?
          </a></dt><dt>2. <a href="#faq-methods-de">
            Wenn ich eine neue Buchung anlege, fehlt das Feld für die Zahlungsweise. Warum?
          </a></dt><dt>3. <a href="#faq-backup-de">
            Wie kann ich ein Backup wiederherstellen?
          </a></dt><dt>4. <a href="#faq-catxml-de">
            Wie kann ich Kategorien im Batch importieren?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-share-de"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            Kann ich die QIF Datei auf Google Docs oder Dropbox übertragen?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Ja, aktivieren Sie <span class="guilabel">Export versenden</span> in den
            Einstellungen, und lassen Sie <span class="guilabel">Upload URL</span> leer. Dann
            können Sie nach jedem Export die App (wie z.B. Google Docs oder Dropbox) auswählen,
            mittels deren Sie die Datei übertragen wollen.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-de"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            Wenn ich eine neue Buchung anlege, fehlt das Feld für die Zahlungsweise. Warum?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Zahlungsweisen sind den Kontotypen zugeordnet. Zu Beginn sind nur für Bankkonten Zahlungsweisen
            definiert, nicht für Bargeldkonten. Ändern Sie den Kontotyp unter
            <span class="guimenuitem">Konto verändern</span>, oder definieren Sie eine neue Zahlungsweise
           (<span class="guimenuitem">Einstellungen</span> → <span class="guimenuitem">Verwalten</span> → <span class="guimenuitem">Zahlungsweisen</span> → <span class="guimenuitem">Neue Zahlungsweise</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-de"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            Wie kann ich ein Backup wiederherstellen?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
          Wenn Sie ein Backup erzeugen, wird dieses im Ordner <code class="filename">myexpenses</code> auf der 
          SD-Karte gespeichert. Dort wird es entdeckt, wenn Sie
          <span class="application">Meine Ausgaben</span> deinstallieren und erneut installieren, und Sie können die
          Wiederherstellung wählen. Seit Version 1.7.0, kann die Wiederherstellung auch vom Einstellungsbildschirm
          aus aufgerufen werden.
        </p></td></tr>
      
        <tr class="question" id="faq-catxml-de"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
            Wie kann ich Kategorien im Batch importieren?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Meine Ausgaben</span> kann Kategorien aus Ihrer Grisbi Datei importieren.
            Kopieren Sie diese Datei unter dem Namen grisbi.xml in einen Ordner myexpenses in das
            Wurzelverzeichnis der SD-Karte und rufen Sie den Eintrag <span class="guilabel">Import aus Grisbi</span> in den <span class="guilabel">Einstellungen</span> auf. Sie
            können zusätzlich auch die von Grisbi gespeicherten Parteien (Empfänger und Zahler), aus
            dieser Datei importieren. Wenn Sie Ihre eigene Datei als Import-Quelle auswählen, können
            Sie entweder Parteien und Kategorien oder nur Kategorien importieren. Die Partner werden
            im Buchungsformular verwendet, um Ihnen für das Feld Empfänger/Zahler ein automatische
            Ausfüllen vorzuschlagen. Wenn Sie Ihre eigene XML Datei erstellen, halten Sie sich an
            die folgende Struktur:
          </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Hauptkategorie A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Unterkategorie A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Unterkategorie A.2" /&gt;
  &lt;Category Nb="2" Na="Hauptkategorie B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Unterkategorie B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Unterkategorie B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
