<div class="block" id="faq" style="display:none"><h2>
      Frequently asked questions
      
      
      
      
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-share-en">
            Can I send the QIF file to Google Docs or Dropbox?
          </a></dt><dt>2. <a href="#faq-methods-en">
            While creating a new transaction, there is no field for setting the payment method. Why?
          </a></dt><dt>3. <a href="#faq-catxml-en">
          How do I import categories in batch?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-share-en"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            Can I send the QIF file to Google Docs or Dropbox?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Yes, in the settings, activate <span class="guilabel">Share export file</span> and
            leave <span class="guilabel">Upload URL</span> empty. After each export, you will
            see a chooser for selecting an app (like Google Docs or Dropbox) capable of sending
            the file.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-en"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            While creating a new transaction, there is no field for setting the payment method. Why?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Payment methods are defined for account types. By default, there are no payment methods
            for cash accounts, only for bank accounts. You can change an account's type under
           <span class="guimenuitem">Edit Account</span>, or define a new payment method
           (<span class="guimenuitem">Settings</span> → <span class="guimenuitem">Manage</span> → <span class="guimenuitem">Payment methods</span> → <span class="guimenuitem">New payment method</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-catxml-en"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
          How do I import categories in batch?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">My Expenses</span> can import your categories from your Grisbi file. Store
            this file as grisbi.xml in a folder myexpenses in the root of your SD card and call
            <span class="guilabel">Import from Grisbi</span> from the <span class="guilabel">Settings</span> screen. You can also import the parties (payers and payees)
            stored in this file. When you choose your custom file as import source, you can decide
            to import both parties and categories, or only categories. Parties will be used for the
            autocomplete function of the payer/payee field in the transaction form. If you create an
            XML file on your own, respect the following structure:
            </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Main category A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Sub category A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Sub category A.2" /&gt;
  &lt;Category Nb="2" Na="Main category B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Sub category B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Sub category B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
            </pre><p>
         </p></td></tr>
      </tbody></table></div>
  </div></div>
