<div class="block" id="faq" style="display:none"><h2>
      
      
      
      
      Preguntas más frecuentes
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-share-es">
            ¿Puedo transferir el archivo QIF a Google Docs o Dropbox?
          </a></dt><dt>2. <a href="#faq-methods-es">
           Cuando creo una nueva transacción, falta la casilla para establecer el método de pago. ¿Por qué?
          </a></dt><dt>3. <a href="#faq-backup-es">
            ¿Cómo puedo restaurar una copia de seguridad?
          </a></dt><dt>4. <a href="#faq-catxml-es">
            ¿Cómo puedo importar categorías en batch?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-share-es"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            ¿Puedo transferir el archivo QIF a Google Docs o Dropbox?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Sí, active <span class="guilabel">Enviar la exportación</span> en las configuraciones y deje en
            blanco <span class="guilabel">Subir URL de exportación</span>. Así puede elegir después de cada
            exportación la aplicación (por ejemplo Google Docs o Dropbox) mediante la cual desea transferir el archivo.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-es"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
           Cuando creo una nueva transacción, falta la casilla para establecer el método de pago. ¿Por qué?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
           Métodos de pago están asignados a los tipos de cuenta. Inicialmente métodos de pago sólo
           están definidos para cuentas bancarias, no para cuentas de efectivo. Cambie el tipo de
           cuenta en <span class="guimenuitem">Modificar la cuenta</span>, o defina un nuevo método de pago, como se explica en el manual
           (<a class="ulink" href="tutorial_r4/settings.html#settings_manage_methods" target="_top"><span class="guilabel">Métodos de pago</span></a>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-es"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            ¿Cómo puedo restaurar una copia de seguridad?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
          Cuando usted crea una copia de seguridad, es guardada en la carpeta <code class="filename">myexpenses</code>
          de la tarjeta SD. Se detecta cuando usted desinstala y reinstala <span class="application">Mis gastos</span>,
          y usted puede decidir restaurarla. A partir de la versión 1.7.0, también puede activar la
          restauración desde la pantalla de configuraciones.
        </p></td></tr>
      
        <tr class="question" id="faq-catxml-es"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
            ¿Cómo puedo importar categorías en batch?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Mis gastos</span> puede importar sus categorías de su archivo de Grisbi.
            Almacenar este archivo como grisbi.xml en una carpeta myexpenses en la raíz de su
            tarjeta SD y llamar a la <span class="guilabel">Solicite una clave Contrib</span> entrada en la
            <span class="guilabel">Configuraciones</span> pantalla. Copie este archivo bajo el nombre grisbi.xml
            a una carpeta myexpenses en el directorio raíz de la tarjeta SD[5]. Puede importar de
            este archivo además los partes (receptores y pagadores) guardados en Grisbi (elemento
            Party). Si elige su propio archivo como fuente de importación, puede importar partes y
            categorías o sólo categorías. Los partes se utilizan en el formulario de asientos para
            proponerle un llenado automático en el campo receptor/pagador. Si crea su propio archivo
            XML, respetar la siguiente estructura:
            </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Categoría principal A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Alt kategori A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Alt kategori A.2" /&gt;
  &lt;Category Nb="2" Na="Categoría principal B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Alt kategori B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Alt kategori B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
