<div class="block" id="faq" style="display:none"><h2>
      
      Foire aux questions
      
      
      
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-share-fr">
            Puis-je envoyer le fichier QIF vers Google Docs ou Dropbox?
          </a></dt><dt>2. <a href="#faq-methods-fr">
            Lors de la création d'une nouvelle transaction, il n'existe pas de champ pour le mode de paiement. Pourquoi?
          </a></dt><dt>3. <a href="#faq-backup-fr">
            Comment puis-je récupérer ma sauvegarde ?
          </a></dt><dt>4. <a href="#faq-catxml-fr">
          Comment puis-je importer les catégories en batch?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-share-fr"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            Puis-je envoyer le fichier QIF vers Google Docs ou Dropbox?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Oui, dans les paramètres, activez <span class="guilabel">Envoyer le fichier d'export</span>, et
            gardez <span class="guilabel">URL où sera téléchargé le fichier d'export</span> vide. Ainsi, après chaque export,
            vous pourrez choisir dans un menu une apps (par exemple Google Docs ou Dropbox)
            capable de transférer le fichier.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-fr"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            Lors de la création d'une nouvelle transaction, il n'existe pas de champ pour le mode de paiement. Pourquoi?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Les modes de paiement sont définis par types de comptes. Par défaut, il n'existe pas de méthodes de paiement
            pour les comptes de caisse, uniquement pour les comptes bancaires. Vous pouvez modifier le type du compte par
           <span class="guimenuitem">Éditer le compte</span>, ou définir un nouveau mode de paiement 
           (<span class="guimenuitem">Paramètres</span> → <span class="guimenuitem">Gestion</span> → <span class="guimenuitem">Méthodes de paiement</span> → <span class="guimenuitem">Nouvelle méthode de paiement</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-fr"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            Comment puis-je récupérer ma sauvegarde ?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
          Lorsque vous créez une sauvegarde, celle-ci est stockée dans le répertoire  <code class="filename">myexpenses</code> 
	        de votre carte SD. Elle est détectée lorsque vous désinstallez puis réinstallez 
	        <span class="application">Mes dépenses</span>, et vous pouvez choissir de la recupérer. À partir de la version
	        1.7.0., la recupération de la sauvegarde peut aussi être initiée à partir des paramètres.
        </p></td></tr>
      
        <tr class="question" id="faq-catxml-fr"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
          Comment puis-je importer les catégories en batch?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Mes dépenses</span> peut importer les catégories à partir de votre fichier
            Grisbi. Copiez celui-ci sous le nom grisbi.xml dans le répertoire myexpenses de la
            racine de votre carte SD et appelez l'entree <span class="guilabel">Import des données Grisbi</span> dans l'écran <span class="guilabel">Paramètres</span>.
            Vous avez aussi la possibilité d'importer les tiers tel que Grisbi les enregistre dans
            ce même fichier. Si vous choississez votre propre fichier en tant que source de
            l'import, vous pourrez soit importer tiers et catégories, soit uniquement les
            catégories. Les tiers vous seront proposés pour remplir automatiquement le champ "tiers"
            dans le formulaire des opérations. Si vous éditez votre propre fichier XML, respectez la
            structure suivante:
                    </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Catégorie principale A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Sous-catégorie A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Sous-catégorie A.2" /&gt;
  &lt;Category Nb="2" Na="Catégorie principale B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Sous-catégorie B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Sous-catégorie B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
