<div class="block" id="faq" style="display:none"><h2>
      
      Foire aux questions
      
      
      
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-comma-fr">
            Comment puis-je saisir les montants ? Il n'y a pas de virgule (,) sur le pavé
            numérique.
          </a></dt><dt>2. <a href="#faq-share-fr">
            Puis-je envoyer le fichier QIF vers Google Docs ou Dropbox?
          </a></dt><dt>3. <a href="#faq-methods-fr">
            Lors de la création d'une nouvelle transaction, il n'existe pas de champ pour le mode de paiement. Pourquoi?
          </a></dt><dt>4. <a href="#faq-backup-fr">
            Comment puis-je récupérer ma sauvegarde ?
          </a></dt><dt>5. <a href="#faq-contrib-fr">
            Clé Contrib, qu'est-ce que c'est?
          </a></dt><dt>6. <a href="#faq-catxml-fr">
          Comment puis-je importer les catégories en batch?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-comma-fr"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            Comment puis-je saisir les montants ? Il n'y a pas de virgule (,) sur le pavé
            numérique.
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Il existe différents séparateurs décimaux utilisés dans différentes langues:
            virgule dans la plupart des pays européens, le point dans les pays anglophones.
            Malheureusement, il existe un problème dans quelques version du système
            d'exploitation Android, il ne gère pas bien la virgule dans sa méthode d'entrée
            numérique, et dans certains cas ne permet même pas du tout d'entrer une virgule. Si
            vous rencontrez ce problème, vous pouvez définir le point comme séparateur décimal
            dans les paramètres.
          </p></td></tr>
      
        <tr class="question" id="faq-share-fr"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            Puis-je envoyer le fichier QIF vers Google Docs ou Dropbox?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Oui, dans les paramètres, activez <span class="guilabel">Envoyer le fichier d'export</span>, et
            gardez <span class="guilabel">URL où sera téléchargé le fichier d'export</span> vide. Ainsi, après chaque export,
            vous pourrez choisir dans un menu une apps (par exemple Google Docs ou Dropbox)
            capable de transférer le fichier.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-fr"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            Lors de la création d'une nouvelle transaction, il n'existe pas de champ pour le mode de paiement. Pourquoi?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Les modes de paiement sont définis par types de comptes. Par défaut, il n'existe pas de méthodes de paiement
            pour les comptes de caisse, uniquement pour les comptes bancaires. Vous pouvez modifier le type du compte par
           <span class="guimenuitem">Éditer le compte</span>, ou définir un nouveau mode de paiement 
           (<span class="guimenuitem">Paramètres</span> → <span class="guimenuitem">Gestion</span> → <span class="guimenuitem">Méthodes de paiement</span> → <span class="guimenuitem">Nouvelle méthode de paiement</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-fr"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
            Comment puis-je récupérer ma sauvegarde ?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
          Lorsque vous créez une sauvegarde, celle-ci est stockée dans le répertoire  <code class="filename">myexpenses</code> 
	        de votre carte SD. Elle est détectée lorsque vous désinstallez puis réinstallez 
	        <span class="application">Mes dépenses</span>, et vous pouvez choissir de la recupérer. À partir de la version
	        1.7.0., la recupération de la sauvegarde peut aussi être initiée à partir des paramètres (Premium).
        </p></td></tr>
      
        <tr class="question" id="faq-contrib-fr"><td align="left" valign="top"><p><b>5.</b></p></td><td align="left" valign="top"><p>
            Clé Contrib, qu'est-ce que c'est?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Mes dépenses</span> est distribué avec quelques fonctionnalités Premium qui
            peuvent être essayées cinq fois, puis peuvent être déverrouillées par l'installation
            d'une <a class="ulink" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib" target="_top">app
              contrib</a> payante de Google Play. Éventuellement il faut lancer <span class="application">Mes dépenses</span> une fois à partir de l'écran d'accueil de la contrib app, afin que
            l'installation de celle-ci soit pris en compte. Mais vous n'avez pas besoin de clé
            contrib dans ce cas. Une clé contrib est un mécanisme permettant de déverrouiller les
            fonctionnalités Premium sans installation de l'app contrib. J'envoie cette clé aux
            utilisateurs qui contribuent au développement de <span class="application">Mes dépenses</span> par
            d'autres moyens, par exemple la traduction de l'interface utilisateur, en testant les
            pré-versions ou une donation par
            <a class="ulink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KPXNZHMXJE8ZJ" target="_top">Paypal</a>
            ou
            <a class="ulink" href="https://flattr.com/thing/1028216/My-Expenses-GPL-licenced-Android-Expense-Tracking-App" target="_top">Flattr</a>.
            La clé est calculée sur la base de l'Android-ID de votre appareil, que
            vous pouvez me communiquer par l'entrée <span class="guilabel">Demandez une clé contrib</span>
            dans l'écran <span class="guilabel">Paramètres</span>.
          </p></td></tr>
      
        <tr class="question" id="faq-catxml-fr"><td align="left" valign="top"><p><b>6.</b></p></td><td align="left" valign="top"><p>
          Comment puis-je importer les catégories en batch?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Mes dépenses</span> peut importer les catégories à partir de votre fichier
            Grisbi. Copiez celui-ci sous le nom grisbi.xml dans le répertoire myexpenses de la
            racine de votre carte SD et appelez l'entree <span class="guilabel">Import des données Grisbi</span> dans l'écran <span class="guilabel">Paramètres</span>.
            Vous avez aussi la possibilité d'importer les tiers tel que Grisbi les enregistre dans
            ce même fichier. Si vous choississez votre propre fichier en tant que source de
            l'import, vous pourrez soit importer tiers et catégories, soit uniquement les
            catégories. Les tiers vous seront proposés pour remplir automatiquement le champ "tiers"
            dans le formulaire des opérations. Si vous éditez votre propre fichier XML, respectez la
            structure suivante:
                    </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Catégorie principale A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Sous-catégorie A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Sous-catégorie A.2" /&gt;
  &lt;Category Nb="2" Na="Catégorie principale B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Sous-catégorie B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Sous-catégorie B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
