<div class="block" id="faq" style="display:none"><h2>
      
      
      
      
      
      Sıkça sorulan sorular
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-comma-tr">
           Meblağları nasıl girebilirim? Sayısal klavyede virgül (,) yok.
          </a></dt><dt>2. <a href="#faq-share-tr">
            QIF dosyasını Google Docs ya da Dropbox'a gönderebilir miyim?
          </a></dt><dt>3. <a href="#faq-methods-tr">
            Muamele oluşturulurken ödeme metodunu seçmek için bir alan yok. Neden?
          </a></dt><dt>4. <a href="#faq-backup-tr">
            Bir yedeklemeyi nasıl tekrar yüklerim?
          </a></dt><dt>5. <a href="#faq-contrib-tr">
            Katkı anahtarı nedir?
          </a></dt><dt>6. <a href="#faq-catxml-tr">
            Kategorileri nasıl toplu olarak içe aktarabilirim?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-comma-tr"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
           Meblağları nasıl girebilirim? Sayısal klavyede virgül (,) yok.
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Değişik dillerde değişik ondalık ayraçları kullanılır: Avrupa dillerinin çoğunda virgül,
            İngilizce konuşulan ülkelerin çoğunluğunda ise nokta kullanılır. Maalesef giriş yönteminde
            virgülü iyi bir şekilde dikkate almayan Android işletim sisteminin bazı sürümlerinde bu
            konuda sorun vardır, bazı durumlarda virgül girmeye bile imkân vermez. Bu sorunla
            karşılaşırsanız Ayarlarda ondalık ayracını belirtebilirsiniz.
          </p></td></tr>
      
        <tr class="question" id="faq-share-tr"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            QIF dosyasını Google Docs ya da Dropbox'a gönderebilir miyim?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Evet, ayarlarda <span class="guilabel">Dışa aktarım dosyasını paylaş</span> seçeneğini etkinleştirip
            <span class="guilabel">Yükleme adresi</span> alanını boş bırakın. Her dışa aktarımın ardından
            (Google Docs veya Dropbox gibi) uygulama seçmeye imkân veren bir seçim ekranı görüntülenir.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-tr"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            Muamele oluşturulurken ödeme metodunu seçmek için bir alan yok. Neden?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Ödeme metotları hesap türleri için tanımlanır. Varsayılan ayar olarak nakit hesapları
            için bir ödeme metodu bulunmaz, sadece banka hesapları için bulunur. Bir hesabın türünü
            <span class="guimenuitem">Hesabı düzenle</span> konumunda ayarlayabilir ya da yeni bir
            ödeme metodu tanımlayabilirsiniz (<span class="guimenuitem">Ayarlar</span> → <span class="guimenuitem">Yönet</span> → <span class="guimenuitem">Ödeme metotları</span> → <span class="guimenuitem">Yeni ödeme metotu oluştur</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-tr"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
            Bir yedeklemeyi nasıl tekrar yüklerim?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Bir yedekleme oluşturduğunuzda bu, SD kartınızın <code class="filename">myexpenses</code>
            klasöründe saklanır. <span class="application">Harcamalarım</span> uygulamasını kaldırıp tekrar
            kurduğunuzda bu yedekleme tespit edilir ve onu yüklemeyi seçebilirsiniz. 1.7.0
            sürümünden itibaren yüklemeyi Ayarlar ekranından da başlatabilirsiniz (bu son seçenek
            ücretli katkı sürümünü gerektirir).
          </p></td></tr>
      
        <tr class="question" id="faq-contrib-tr"><td align="left" valign="top"><p><b>5.</b></p></td><td align="left" valign="top"><p>
            Katkı anahtarı nedir?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Harcamalarım</span> beş defa denenebilen ve Google Play'den ücretli <a class="ulink" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib" target="_top">katkı
            uygulamasını</a> kurarak devamlı kullanılabilen özelliklerle yayınlanmıştır.
            <span class="application">Harcamalarım</span> katkı uygulamasının farkına varması için onu bir kez
            katkı uygulamasının ana ekranından başlatmanız gerekebilir. Bu durumda katkı anahtarına
            ihtiyacınız olmaz. Katkı anahtarı özel işlevlerin kilidini katkı uygulamasının
            kurulmasına gerek olmadan kaldırmaya yarayan bir mekanizmadır. Bu anahtarı
            Harcamalarımın geliştirilmesine başka şekilde (mesela tercümelerle, kararsız sürümleri
            deneyerek ya da Paypal veya Flattr ile bağışta bulunarak) katkıda bulunan kullanıcılara
            göndereceğim. Anahtar cihazınızın Android kimliğine dayanarak hesaplanılır ki bu kimliği
            <span class="guilabel">Ayarlar</span> ekranındaki <span class="guilabel">Katkı anahtarı talep et</span> seçeneğiyle bana iletebilirsiniz.
          </p></td></tr>
      
        <tr class="question" id="faq-catxml-tr"><td align="left" valign="top"><p><b>6.</b></p></td><td align="left" valign="top"><p>
            Kategorileri nasıl toplu olarak içe aktarabilirim?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Harcamalarım</span> kategorilerinizi bir Grisbi dosyasından içe aktarabilir. Bu
            dosyayı grisbi.xml adıyla SD kartının köküne myexpenses klasörü içinde konumlayıp<span class="guilabel">Grisbi'den içeri aktar</span> ekrandan <span class="guilabel">Ayarlar</span> çağırın.
            Bu dosyadaki alacaklı ve vereceklileri de içe aktarabilirsiniz. Kendi özel dosyanızı içe
            aktarma kaynağı olarak seçtiğinizde ya hem alacaklı ve vereceklileri hem de kategorileri
            ya da sadece kategorileri içe aktarmayı seçebilirsiniz. Alacaklı ve verecekliler, muamele
            formunda ilgili alanların otomatik olarak doldurulmasında kullanılacaktır. Eğer özel bir
            XML dosyası oluşturmak istiyorsanız, aşağıdaki yapıyı kullanınız:
            </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="ana kategori A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Alt kategori A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Alt kategori A.2" /&gt;
  &lt;Category Nb="2" Na="ana kategori B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Alt kategori B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Alt kategori B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
