<div class="block" id="faq" style="display:none"><h2>
      
      
      
      Domande più frequenti
      
      
    </h2><div class="sect1"><div class="titlepage"><hr></div>
    
    
    <div class="qandaset"><a name="quandaset"></a><dl><dt>1. <a href="#faq-share-it">
            Posso inviare il file QIF di Google Docs o Dropbox?
          </a></dt><dt>2. <a href="#faq-methods-it">
            Quando inserisco una nuova operazione, non trovo il campo per selezionare il metodo di pagamento. Perchè?
          </a></dt><dt>3. <a href="#faq-backup-it">
            Come posso ripristinare il backup?
          </a></dt><dt>4. <a href="#faq-contrib-it">
             Chiave contrib, che cos'è?
          </a></dt><dt>5. <a href="#faq-catxml-it">
          Come faccio a importare le categorie in gruppo?
          </a></dt></dl><table border="0" width="100%" summary="Q and A Set"><col align="left" width="1%"><col><tbody>
        <tr class="question" id="faq-share-it"><td align="left" valign="top"><p><b>1.</b></p></td><td align="left" valign="top"><p>
            Posso inviare il file QIF di Google Docs o Dropbox?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            Sì, nelle parametri, attivare <span class="guilabel">Condividi Export</span>, e
            lasciare <span class="guilabel">Carica URL Export</span> in bianco. Così, dopo ogni
            esportazione, è possibile scegliere da un menu un applicazioni (ad esempio Google
            Docs o Dropbox) in grado di trasferire il file.
          </p></td></tr>
      
        <tr class="question" id="faq-methods-it"><td align="left" valign="top"><p><b>2.</b></p></td><td align="left" valign="top"><p>
            Quando inserisco una nuova operazione, non trovo il campo per selezionare il metodo di pagamento. Perchè?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
           Il metodo di pagamento è legato al tipo di conto. Nell'impostazione predefinita, non ci sono metodi di pagamento per
           il conto contanti, solo per i conti bancari.
           E' possibile cambiare un tipo di conto in
           <span class="guimenuitem">Modificare il conto</span>, oppure creare un nuovo metodo di pagamento
           (<span class="guimenuitem">Impostazioni</span> → <span class="guimenuitem">Gestione</span> → <span class="guimenuitem">Modi di pagamento</span> → <span class="guimenuitem">Nuovo modo di pagamento</span>).
          </p></td></tr>
      
        <tr class="question" id="faq-backup-it"><td align="left" valign="top"><p><b>3.</b></p></td><td align="left" valign="top"><p>
            Come posso ripristinare il backup?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
          Se crea un backup, questo viene memorizzato nella cartella <code class="filename">myexpenses</code>
          della vostra scheda SD. Esso verrá scoperto quando si disinstalla e reinstalla
          <span class="application">Le mie spese</span>, e si puó scegliere di ripristinarlo. Dalla versione 1.7.0.
          è possibile attivare il ripristino dalla schermata Impostazioni (Funzionalità speciale
          della versione Contrib).
        </p></td></tr>
      
        <tr class="question" id="faq-contrib-it"><td align="left" valign="top"><p><b>4.</b></p></td><td align="left" valign="top"><p>
             Chiave contrib, che cos'è?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
             <span class="application">Le mie spese</span> è distribuito con alcune funzionalità premium che
             possono essere provate cinque volte e quindi possono essere sbloccate con
             l'installazione della <a class="ulink" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib" target="_top">app
             contrib</a> a pagamento da Google Play. Potrebbe essere necessario lanciare
             <span class="application">Le mie spese</span> una volta dalla schermata iniziale del contrib
             applicazione, al fine di renderlo consapevole delle app contrib. Ma c'è bisogno di
             alcuna chiave contrib in quel caso. Una chiave contrib è un meccanismo per sbloccare le
             funzionalità Premium senza installazione delle app contrib. Manderò questa chiave agli
             utenti che contribuiscono allo sviluppo delLe Mie Spese con altri mezzi, ad esempio
             traducendo l'interfaccia utente, testando pre-releases o una donazione tramite
             <a class="ulink" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=KPXNZHMXJE8ZJ" target="_top">Paypal</a>
             o
             <a class="ulink" href="https://flattr.com/thing/1028216/My-Expenses-GPL-licenced-Android-Expense-Tracking-App" target="_top">Flattr</a>.
             La chiave è calcolata sulla
             base della Android-ID del dispositivo, che potete comunicare a me attraverso la voce
             <span class="guilabel">Richiede una chiave contrib</span> nella schermata <span class="guilabel">Impostazioni</span>.
           </p></td></tr>
      
        <tr class="question" id="faq-catxml-it"><td align="left" valign="top"><p><b>5.</b></p></td><td align="left" valign="top"><p>
          Come faccio a importare le categorie in gruppo?
          </p></td></tr>
        <tr class="answer"><td align="left" valign="top"></td><td align="left" valign="top"><p>
            <span class="application">Le mie spese</span> può importare le categorie dal file Grisbi. Conservare
            questo file come grisbi.xml in una cartella myexpenses nella cartella principale della
            vostra scheda SD e chiamare la voce <span class="guilabel">Importazione dei dati Grisbi</span>
            nella schermata <span class="guilabel">Impostazioni</span>. Hai anche la possibilità di importare
            i beneficiari Grisbi registrati nello stesso file (elemento Party). Se si sceglie il
            proprio file come fonte di importazione, è possibile importare categorie e beneficiari,
            o solo categorie. Il beneficiario sarà offerta automaticamente per riempire il
            "Beneficiario" in forma di operazioni. Se si crea il proprio file XML, rispettare la seguente struttura:
            </p><pre class="programlisting">

&lt;root&gt;
  &lt;Category Nb="1" Na="Categoria principale A" /&gt;
  &lt;Sub_category Nbc="1" Nb="1" Na="Sottocategoria A.1" /&gt;
  &lt;Sub_category Nbc="1" Nb="2" Na="Sottocategoria A.2" /&gt;
  &lt;Category Nb="2" Na="Categoria principale B" /&gt;
  &lt;Sub_category Nbc="2" Nb="1" Na="Sottocategoria B.1" /&gt;
  &lt;Sub_category Nbc="2" Nb="2" Na="Sottocategoria B.2" /&gt;
  &lt;Party Na="N.N." /&gt;
&lt;/root&gt; 
 
          </pre><p>
          </p></td></tr>
      </tbody></table></div>
  </div></div>
