<div class="block" id="imprint" style="display:none">
<h2>Impressum</h2>
<p>
Verantwortlich für den Inhalt dieser Website und für die Entwicklung von <span class="application">Meine Ausgaben</span>:<br/>
<a href="http://michael.totschnig.org">Michael Totschnig</a><br/>
E-Mail: <a href="mailto:michael@totschnig.org">michael@totschnig.org</a>
</p>
<h2 id="privacy">Datenschutzerklärung</h2>
<span class="application">Meine Ausgaben</span> greift auf keinerlei Daten auf Ihrem Gerät zu mit
Ausnahme seiner eigenen Datenbank und seines eigenen Ordners auf der SD Karte. <span class="application">Meine Ausgabem</span> 
sendet keine Daten über das Internet. <span class="application">Meine Ausgaben</span> verwendet die folgenden Berechtigungen:
<dl>
  <dt>WRITE_EXTERNAL_STORAGE</dt>
  <dd>Dies ist für die Speicherung der exportierten QIF Datei auf der SD-Karte und für die Erstellung
  von Sicherungskopien notwendig.
  </dd>
</dl>
<hr>
{% include ga.html %}
</div>

