<div class="block" id="imprint" style="display:none">
<h2>Colophon</h2>
<p>
Responsabile per il contenuto di questo sito web e per lo sviluppo di <span class="application">Le mie spese</span>:<br/>
<a href="http://michael.totschnig.org">Michael Totschnig</a><br/>
E-mail: <a href="mailto:michael@totschnig.org">michael@totschnig.org</a>
</p>
<h2 id="privacy">Norme sulla privacy</h2>
<span class="application">Le Mie Spese</span>  non accede a alcuni dati di suo apparecchio al di fuori della
database e la cartella proprie sulla scheda SD. Se si utilizza la funzionalità dei piani per le transazioni future e
ricorrenti, si assegnano il calendario, in cui sono memorizzati questi piani. <span class="application">Le Mie Spese</span> usa le seguenti autorizzazioni:
<dl>
  <dt>WRITE_EXTERNAL_STORAGE</dt>
  <dd>Questa autorizzazione è necessaria per salvare il file QIF sulla scheda SD, e
per creare backups della database.</dd>
  <dt>READ_CALENDAR, WRITE_CALENDAR</dt>
  <dd>Memorizzazione piani per le transazioni future e ricorrenti</dd>
  <dt>INTERNET </dt>
  <dd></dd>
</dl>
<hr>
{% include ga.html %}
</div>
