<!--
  Credits
-->
<div class="block" id="credits" style="display:none">
<h2>Credits</h2>
<ul>
  <li>App icon design copied from Sipdroid.</li>
  <li><a class="intern" href="#translate">Localization</a></li>
  <li>Code contributions:
    <ul>
      <li>Configuring and applying custom colors to accounts: <a href="https://github.com/khris78">khris78</a></li>
    </ul>
  </li>
  <li>Website built with:
    <ul>
      <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
      <li><a href="http://glyphicons.com/">Glyphicons</a></li>
      <li>Nexus S Device Frame Generation based on
        <a href="http://android-ui-utils.googlecode.com/hg/asset-studio/dist/device-frames.html">Android Asset Studio</a></li>
      <li><a href="http://www.wipmania.com/en/api/">WIPmania</a> for geolocation (localizing app icon)</li>
    </ul>
  </li>
</ul>
</div>

<!--
  Licence
-->
<div class="block" id="licence" style="display:none">
 <h2>Licence</h2>
<p><a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License version 3</a></p>
<ul>
<li>Category Import Icon (squiggle) from <a href="glyphish.com">glyphisch.com</a>, licensed under the Creative Commons Attribution 3.0 United States License.
</li>
<li>Calls <a href="http://www.openintents.org/en/colorpicker">OI Color Picker</a>, if available on device.</li>
<li>Includes CalculatorInput class from <a href="https://launchpad.net/financisto">https://launchpad.net/financisto</a>,
  licenced under <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GPL v2.0</a>.</li>
<li>Includes ActionBarSherlock from <a href="http://actionbarsherlock.com/">http://actionbarsherlock.com/</a>, licenced under
  	<a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a>.</li>
<li>Includes StickyListHeaders from <a href="http://emilsjolander.github.io/StickyListHeaders/">http://emilsjolander.github.io/StickyListHeaders/</a>,
  	licenced under <a href="http://www.apache.org/licenses/LICENSE-2.0.txt">Apache License, Version 2.0</a>.</li>
</ul>
</div>

<!--
  Source code
-->
<div class="block" id="sourcecode" style="display:none">
<h2>Source code</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="/#install">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="/#licence">licence</a>.
</p>
</div>

<!--
  Links
-->
<div class="block" id="links" style="display:none">
<h2>Links</h2>
<ul>
<li>Presentation in the blog of Meinnoteblog (German): <a href="http://meinnoteblog.wordpress.com/2012/07/14/finanzverwaltung-mit-android/">Finanzverwaltung mit Android</a></li>
<li>Post in German Quicken user forum: <a href="http://www.kaiwu.de/cgi-bin/sbb//sbb.cgi?&amp;a=show&amp;forum=103&amp;show=11">Meine Ausgaben (Android und Quicken)</a></li>
<li>Presentation in the blog of Wilfried Caruel (French): <a href="http://www.wilfriedcaruel.me/2013/05/presentation-de-mes-depenses.html">Présentation de mes dépenses</a></li>
</ul>
</div>

<!--
  Translation
-->

<div class="block" id="translate" style="display:none">
<h2>Instructions for translators</h2>
<p>
  Thank you for your interest in helping make <span class="application">My Expenses</span> available in
  different languages. Currently <span class="application">My Expenses</span> is translated to
  <table id="language_table" class="table table-bordered table-hover">
  <thead>
  <tr>
  <th></th><th>Maintainer</th><th>Contributors</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/ar/">‏العربية‎ (ar)</a></td>
      <td><a href="https://twitter.com/idemo_">Ar.Alothaim</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/ca/">Català (ca)</a></td>
      <td><a href="mailto:myexpenses@totschnig.org?subject=Catalan translation">?</a></td>
      <td>Paco Rivière</td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/de/">Deutsch (de)</a></td>
      <td>Michael Totschnig</td>
      <td></td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/es/">Español (es)</a></td>
      <td>Tulliver</td>
      <td>gudrunto, christoft</td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/fr/">Français (fr)</a></td>
      <td>Laurent Collombet</td>
      <td>Alexandre Beelen</td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/it/">Italiano (it)</a></td>
      <td>gudrunto</td>
      <td>Laurent Collombet, Silvia Delpero</td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/tr/">Türkçe (tr)</a></td>
      <td>mauron</td>
      <td>Caner Başaran</td>
    </tr>
    <tr>
      <td><a href="https://www.transifex.com/projects/p/my-expenses/language/vi/">Tiếng Việt (vi)</a></td>
      <td>Phan Anh</td>
      <td></td>
    </tr>
  </tbody>
  </table>
</p>
<p>Translations are managed at <a href="https://www.transifex.com/projects/p/my-expenses/">Transifex</a>,
  which provides a nice editor with very helpful productivity tools. If you want to start a translation into a new language,
  or help review or complete one of the existing ones, please register at Transifex.</p>
<p>There are four translatable resources hosted at Transifex:
<dl>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/strings/">Strings</a></dt>
  <dd>This resource has all messages appearing in the user interface, from button labels, to informative
    dialogues</dd>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/help/">Help</a></dt>
  <dd>On each application screen, <span class="application">My Expenses</span> provides a help dialogue
    explaining the availaible functionality. This resource has the titles for the help dialogues, and
    all help texts.</dd>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/upgrade/">Upgrade</a></dt>
  <dd>This resource stores the description of changes for each new version. They are shown to users
    after an upgrade, but they are also used to populate the changelog on this website. If possible,
    I'd like to provide descriptions for new versions translated to actively supported languages,
    descriptions for old versions need not be translated, and are stored on Transifex only for archiving reasons.</dd>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/categories_sample/">Categories_sample</a></dt>
  <dd><span class="application">My Expenses</span> allows to import a set of default categories for each
    language. For some languages, these were originally taken from Grisbi. For a new language, it is not 
    necessarily best to translate the existing English categories, but it might be more interesting to
    define custom categories that reflect more accurately the economic reality of a linguistic region.
    This resource includes the English categories as a template that could be used to create a category
    hierarchy for a new language. But it is also possible to retrieve the categories for English or any
    of the other languages in their Grisbi XML format at
    <a href="https://github.com/mtotschnig/MyExpenses/tree/master/res/raw">Github</a>.</dd>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/screenshots/">Screenshots</a></dt>
  <dd>Information needed by the script that generates the localized screenshots on this website.</dd>
  <dt><a href="https://www.transifex.com/projects/p/my-expenses/resource/website/">Website</a></dt>
  <dd>All the headings, info bits and screenshot labels used on this website.</dd>
</dl>
</p>
<p>You do not need to contribute to all of these resources, once Strings are translated, users can
  profit from the interface in their language, even if they get the other resources in English.</p>
<p>Localized versions of the <a class="intern" href="#faq">FAQ</a> are nice-to-haves, but not essential.</p>
<p>I am looking forward to collaborating with you on making <span class="application">My Expenses</span> available in your language!</p>
</div>
<div class="modal fade" id="contrib-features" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{page.contrib-feature-dialog-title}}</h4>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            {% for feature in page.contrib %}
            <li class="list-group-item">{{feature}}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{page.dialog-close}}</button>
          <a class="btn btn-primary" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">{{page.dialog-buy}}</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
