<div class="block" id="participate" style="display:none">
  <h2>Participate</h2>
  <p>
    By installing <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">My Expenses Contrib</a></span>,
    you help keeping <span class="application">My Expenses</span> ad free and open source and gain access to all <a data-toggle="modal" href="#contrib-features">Premium features</a>.
  </p>
  <p>
    If you participate by any other means, you can request a Contrib key
    from the preferences screen, which will also unlock all <a data-toggle="modal" href="#contrib-features">Premium features</a>.
  </p>
  <ul>
  <li><span class="application">My Expenses</span> evolves through your reports and suggestions.
    If you find a problem or think of an improvement,
    create a <a href="https://github.com/mtotschnig/MyExpenses/issues/new">new issue</a>, in Github's Issue Tracker.
  </li>
  <li>
    If you are interested in helping to test upcoming versions, please join the
    <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a> Google
    Group.
  </li>
  <li>You can also help <a class="intern" href="#translate">translate</a> <span class="application">My Expenses</span> into new languages
    (e.g. {{site.missing_langs}}, ...).
  </li>
  <li id="donate">
    Finally, you can send a donation via 
     {% include flattr.html %} or {% include paypal.html %} .
  </li>
{% include donor_list_en %}
</div>
