<div class="block" id="participate" style="display:none">
<h2>Partecipare</h2>
<p>
  Se Lei installa <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Le Mie Spese Contrib</a></span>,
  aiuta che <span class="application">Le Mie Spese</span> continuerà ad essere offerto open source
  et senza pubblicità y  ottiene l’accesso illimitato alle <a data-toggle="modal" href="#contrib-features">funzionalità speciali</a></p>
<p>
  Se lei contribuisce - come descritto di seguito - in altri modi allo sviluppo di Le Mie Spese, può
  richiedere la sua chiave contrib nelle impostazioni. Anche questa attiva tutte le <a data-toggle="modal" href="#contrib-features">funzionalità
  speciali</a>.
</p>
<ul>
<li><span class="application">Le Mie Spese</span> si evolve per i suoi rapporti e incitamenti. Se trova un problema o
  pensa a un miglioramento, crea un <a href="https://github.com/mtotschnig/MyExpenses/issues/new">nuovo tema</a>, in Github's Issue Tracker.
</li>
<li>
  Se siete interessati ad aiutare a testare prossime versioni, si prega di aderire al Google
  Gruppo <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</li>
<li>Essi possono anche aiutare a <a class="intern" href="#translate">traduire</a> in altre lingue (ad esempio {{site.missing_langs}}, ...).
</li>
<li id="donate">
  Infine, è possibile inviare una donazione tramite
   {% include flattr.html %} o {% include paypal.html %} .
</li>
</ul>
{% include donor_list_en %}
</div>
