---
layout: default
section: summary
lang: ca
---
<h2>Resum</h2>
<p>
<span class="application">Les Meves Despeses</span> 
està dissenyat per controlar les despeses, i exportar-les com fitxers  QIF a un programa de finances (per ex.: Grisbi, GnuCash, MS Money, Quicken).
</p>
<h2>Característiques</h2>
<ul>
  <li>Múltiples comptes amb transferències.</li>
  <li>Genera transaccions a partir de plantilles</li>
  <li>Dos nivells de categories (es poden importar de Grisbi XML)</li>
  <li>Enviament del fitxer QIF via FTP o correu</li>
  <li>Còpia de seguretat i restauració de les dades</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
