---
layout: default
section: summary
lang: ca
---
<h2>Resum</h2>
<ul>
<li>Mantingui un registre de les seves despeses i ingressos.</li>
<li>Administrar directament en el seu telèfon intel · ligent.</li>
<li>Exportar-a un programa de finançament d'escriptori com <a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken o Microsoft Money.</li>
<li>Funciona en totes les versions d'Android 2.0 a 4.2.</li>
</ul>
<h2>Característiques</h2>
<ul>
  <li>Múltiples comptes amb transferències.</li>
  <li>Genera transaccions a partir de plantilles</li>
  <li>Dos nivells de categories (es poden importar de Grisbi XML)</li>
  <li>Enviament del fitxer export via FTP o correu</li>
  <li>Còpia de seguretat i restauració de les dades</li>
  <li>Protecció per contrasenya</li>
  <li>Formats d'exportació: QIF i CSV (MS Excel)</li>
  <li>Calculadora</li>
  <li>Transaccions dividides</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
