span , div, h3 {
  display:none;
}
div {
  margin: 1em 0em;
}
div.screen {
  display:block;
  text-align:center;
  margin-right:auto;
  margin-left:auto
}
#tut1 #nav1, #tut2 #nav2, #tut3 #nav3, #tut4 #nav4, #tut5 #nav5 {
   pointer-events: none;
   cursor: default;
   text-decoration: none;
   color: black;
}
.langselector {
  display: inline;
  float: right;
}
#content {
  display: block;
}
#footnotes {
  display: block;
  font-size: smaller;
}

@media only screen and (min-device-width: 500px) {
  #content {
    width:500px;
    margin:0px auto;
  }
}