span , div, h3 {
  display:none;
}
div {
  margin: 1em 0em;
}
div.screen {
  display:block;
  text-align:center;
  margin-right:auto;
  margin-left:auto
}
#tut1 #nav1, #tut2 #nav2, #tut3 #nav3, #tut4 #nav4 {
   pointer-events: none;
   cursor: default;
   text-decoration: none;
   color: black;
}
.langselector {
  display: inline;
  float: right;
}