---
layout: default
section: summary
lang: vi
---
<h2>Tóm tắt</h2>
<ul>
<li>Giữ chi tiêu và thu nhập của bạn theo cách mà bạn muốn.</li>
<li>Quản lý tài chính thông qua điện thoại của bạn.</li>
<li>Xuất sang các định dạng dữ liệu khác chẳng hạn như
  <a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken hoặc MS Money.</li>
<li>Hoạt động trên các phiên bản Android từ 2.1. đến 4.3.</li>
</ul>
<h2>
 Tính năng
</h2>
<h3>Miễn phí</h3>
<ul>
  <li>Truyền đổi giữa nhiều tài khoản với nhau.</li>
  <li>Tạo các giao dịch dựa theo các mẫu cho sẵn</li>
  <li>Tạo các mức độ phân loại dễ dàng cho đối tượng (có thể nhập dữ liệu dạng XML theo kiểu Grisbi)</li>
  <li>Chia sẻ các tập tin dữ liệu được xuất ra (thông qua email, FTP, Dropbox...)</li>
  <li>Sao lưu và phục hồi dữ liệu</li>
  <li>Bảo vệ bởi mật khẩu an toàn</li>
  <li>Xuất sang định dạng QIF hoặc CSV (dùng cho Excel)</li>
  <li>Người tính</li>
  <li>Gom nhóm các giao dịch theo mỗi ngày, tuần, tháng, năm và hiển thị phần số liệu tổng kết với mỗi nhómy {% include new.html %}</li>
</ul>
<h3>Nâng cao</h3>
<ul>
  <li>Khôi phục sao lưu mà không cần gỡ bỏ/cài đặt lại</li>
  <li>Gom nhóm nhiều dạng tài khoản</li>
  <li>Chỉnh sửa mẫu</li>
  <li>Thiết đặt lại tất cả tài khoản</li>
  <li>Câu hỏi an ninh</li>
  <li>Sao y giao dịch</li>
  <li>Phân tách giao dịch {% include new.html %}</li>
</ul>
{% include install.html %}
{% include screenshots.html %}

