---
layout: neu
lang: vi
imprint: Imprint
hero_main: "Quản lý tài chính cá nhân cho Android"
hero_sub:
   - "Dễ dàng sử dụng"
   - "Giàu có chức năng"
   - "Mã nguồn mở"
sections:
  participate: Participate
  faq: FAQ
  versionlist: Nhật trình
  credits: Tín dụng
  licence: Giấy phép
  sourcecode: Mã nguồn
  links: Liên kết
features:
  manage_accounts: Đến năm tài khoản với chuyển (không giới hạn trong phiên bản Contrib)
  grouped_list: Gom nhóm các giao dịch theo mỗi ngày, tuần, tháng, năm và hiển thị phần số liệu tổng kết với mỗi nhómy
  categories: Tạo các mức độ phân loại dễ dàng cho đối tượng (có thể nhập dữ liệu dạng XML theo kiểu Grisbi)
  split: Phân tách giao dịch (Tính năng nâng cao)
  calculator: Người tính
  export: |
    Xuất sang định dạng QIF hoặc CSV (dùng cho Excel), Chia sẻ các tập tin dữ liệu được xuất ra
    (thông qua email, FTP, Dropbox...) Thiết đặt lại tất cả tài khoản (Tính năng nâng cao)
  password: Bảo vệ bởi mật khẩu an toàn, Câu hỏi an ninh (Tính năng nâng cao)
  help: Trợ giúp tích hợp
  new_from_template: Tạo các giao dịch dựa theo các mẫu cho sẵn (editable in Contrib version)
  backup: Sao lưu và phục hồi dữ liệu (in Contrib version without uninstall)
  aggregate_dialog: Gom nhóm nhiều dạng tài khoản (Tính năng nâng cao)
  light_theme: "hai giao diện: sáng và tối"
contrib-feature-dialog-title: |
  Xin vui lòng cống hiến cho chương trình bằng cách cài đặt phiên bản cống hiến. Bạn sẽ được phép sử dụng các
    tính năng của phiên bản nâng cao:
contrib:
  - Số lượng không giới hạn các tài khoản
  - Phân tách giao dịch
  - Câu hỏi an ninh
  - Thiết đặt lại tất cả tài khoản
  - Gom nhóm nhiều dạng tài khoản
  - Sao y giao dịch
  - Chỉnh sửa mẫu
  - Khôi phục sao lưu mà không cần gỡ bỏ/cài đặt lại
dialog-close: Đóng
dialog-buy: Mua
---
{% include participate_en.html %}
{% include faq_en.html %}
{% include versionlist.html %}
{% include imprint_en.html %}


