---
layout: default
section: summary
lang: es
---
<h2>Resumen</h2>
<ul>
<li>Lleva contabilidad sobre sus gastos y ingresos.</li>
<li>Administrar directamente en tu móvil.</li>
<li>Exportarlos a un programa de escritorio de finanzas como
  <a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken o MS Money.</li>
<li>Funciona en todas las versiones de Android 2.0. a 4.3.</li>
</ul>
<h2>
  Características
</h2>
<ul>
  <li>Varias cuentas con las transferencias.</li>
  <li>Crear asientos a partir de una plantilla</li>
  <li>Dos niveles de categorías (de importación de Grisbi XML)</li>
  <li>Cargar el archivo export (a través de FTP, correo electrónico, Dropbox, etc)</li>
  <li>Backup y Restauración</li>
  <li>Protección por contraseña</li>
  <li>Formatos de exportación: QIF y CSV (MS Excel)</li>
  <li>Calculadora</li>
  <li>Asientos divididos</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
