---
layout: neu
lang: es
es:
  current: Actualmente
  imprint: Imprint
  hero_main: "Gestión de las finanzas personales para Android"
  hero_sub:
    - "Fácil de usar"
    - "Rico en funcionalidad"
    - "Open Source"
  sections:
    participate: Participar
    faq: FAQ
    versionlist: Cambios
    credits: Créditos
    licence: Licencia
    sourcecode: Código fuente
    links: Enlaces
  features:
    manage_accounts: Hasta cinco cuentas con transferencias (sin límite en la versión Contrib)
    grouped_list: Agrupamiento por día, semana, mes, año y visualización sumas por grupo
    distribution: Dos niveles de categorías (de importación de Grisbi XML), Distribución de las transacciones (versión Contrib)
    split: Asientos divididos (versión Contrib)
    calculator: Calculadora
    export: |
      Formatos de exportación: QIF y CSV (MS Excel), cargar el archivo export (a través de FTP, correo
      electrónico, Dropbox, ...), exportar todo en una sola operación (versión Contrib)
    password: Protección por contraseña, pregunta de seguridad en la versión Contrib
    help: Ayuda integrada
    new_from_template: Crear asientos a partir de una plantilla (editable en la versión Contrib)
    backup: Backup y Restauración (sin desinstalar en la versión Contrib)
    aggregate_dialog: Situación financiera global en la lista de cuentas (versión Contrib)
    light_theme: "Dos temas: oscuro y claro"
  contrib-feature-dialog-title: |
    Instalando Mis Gastos Contrib, Usted va a obtener acceso ilimitado 
      a las siguientes características premium:
  contrib:
    - Cuentas sin limite
    - Distribución de las transacciones por categoría
    - Asiento dividido
    - Pregunta de seguridad
    - Restablecer todas las cuentas
    - Agregados de varias cuentas
  dialog-close: Cerrar
  dialog-buy: Comprar
---
{% include participate_es.html %}
{% include faq_es.html %}
{% include versionlist.html %}
{% include imprint_en.html %}
