---
layout: default
section: participate
lang: es
---
<h2>Contribuir</h2>

<p>Mediante la instalación de Mis Gastos Contrib, usted ayuda a mantener Mis Gastos de código abierto
y libre de anuncios. A partir de la versión 1.7.0, usted puede probar las características nuevas cinco 
veces de forma gratuita. Éstas serán desbloqueadas para su uso ilimitado una vez que instala la aplicación Contrib:
<ul>
<li>Restaurar copias de seguridad sin desinstalar / reinstalar</li>
<li>Situación financiera global en la lista de cuentas</li>
<li>Editar plantillas</li>
<li>Restablecer todas las cuentas</li>
<li>Pregunta de seguridad</li>
<li>Clonar asientos</li>
</ul>
<p>Si participa por cualquier otro medio, como se explica a continuación, usted puede solicitar
una clave contrib desde la pantalla de preferencias, que también desbloqueará todas las características premium.</p>

<h2>Participar</h2>
<p>
  Trabajando en <span class="application">Mis Gastos</span> es divertido y gratificante a través de su 
  feedback apreciativo y constructivo. Deje un comentario en <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>, 
  o publique su comentario en la sección de <a href="/#news">news</a>.
</p>
<p><span class="application">Mis Gastos</span> se desarrolla a través de sus informes y sugerencias.
  Si usted encuentra un problema o piensa en una mejora, cree un <a href="https://github.com/mtotschnig/MyExpenses/issues/new">tema</a>
  nuevo en el Issue Tracker de Github.
</p>
<p>
  Si usted está interesado en ayudar a probar las próximas versiones, por favor únase a la Google
  Grupo <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</p>
<p>
  También pueden ayudar en la traducción a otros idiomas (por ejemplo {{site.missing_langs}}, ...):
  Para la traducción de la interfaz de usuario se puede utilizar <a href="https://www.transifex.com/projects/p/my-expenses/resource/strings/">Transifex</a>,
  el manual será atendida a través de un  <a href="https://github.com/mtotschnig/MyExpenses/blob/master/doc/tutorial/tutorial_r4.xml">archivo Dockbook</a>.
</p>
<h2>Código</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="install.html">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="info.html#licence">licence</a>.
</p>
<h2 id="donate">Donación</h2>
<p id="money">
  Por último, puede enviar una donación a través de
  {% include flattr.html %} o {% include paypal.html %} .
</p>
