---
layout: default
section: participate
lang: es
---
<h2>Participar</h2>

<p>Mediante la instalación de Mis Gastos Contrib, usted ayuda a mantener Mis Gastos de código abierto
y libre de anuncios, y usted va a obtener acceso ilimitado a las características Premium.</p>
<p>Si participa por cualquier otro medio, como se explica a continuación, usted puede solicitar
una clave Contrib desde la pantalla de preferencias, que también desbloqueará todas las características premium.</p>
<ul>
<li>
  Trabajando en <span class="application">Mis Gastos</span> es divertido y gratificante a través de su 
  feedback apreciativo y constructivo. Deje un comentario en <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>, 
  o publique su comentario en la sección de <a href="/#news">news</a>.
</li>
<li><span class="application">Mis Gastos</span> se desarrolla a través de sus informes y sugerencias.
  Si usted encuentra un problema o piensa en una mejora, cree un <a href="https://github.com/mtotschnig/MyExpenses/issues/new">tema</a>
  nuevo en el Issue Tracker de Github.
</li>
<li>
  Si usted está interesado en ayudar a probar las próximas versiones, por favor únase a la Google
  Grupo <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</li>
<li>
  También pueden ayudar en la <a href="/en/translate.html">traducción</a> a otros idiomas (por ejemplo {{site.missing_langs}}, ...).
</li>
<li id="donate">
  Por último, puede enviar una donación a través de
  {% include flattr.html %} o {% include paypal.html %} .
</li>
</ul>
