<h2 id="install">Install</h2>
<ul>
<li>
 <a href="http://play.google.com/store/apps/details?id=org.totschnig.myexpenses">
  <img alt="Android app on Google Play" style="vertical-align:middle"
       src="http://developer.android.com/images/brand/en_generic_rgb_wo_60.png" />
</a>
</li>
<li><span class="application">My Expenses</span> is also distributed through <a href="https://f-droid.org/repository/browse/?fdid=org.totschnig.myexpenses">F-Droid</a>
</li>
<li>Try it out in your browser at <a href="https://www.appsurfer.com/categories/17-finance/apps/18471-my-expenses">AppSurfer</a></li>
</ul>

