<manifest
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.totschnig.ocr">
    <dist:module
        dist:instant="false"
        dist:title="@string/title_scan_receipt_feature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>