---
layout: default
section: summary
lang: fr
---
<h2>Sommaire</h2>
<ul>
<li>Gardez une trace de vos dépenses et revenus.</li>
<li>Gérez-les directement sur votre smartphone.</li>
<li>Exportez-les vers un logiciel de finance, tel que Grisbi, Gnucash, Quicken ou MS Money.</li>
<li>Fonctionne sous toutes les versions d'Android de 2.1 à 4.3.</li>
</ul>
<h2>Fonctionnalités</h2>
<h3>Gratuit</h3>
<ul>
  <li>Comptes multiples avec virement.</li>
  <li>Créer des opérations à partir de modèles</li>
  <li>Deux niveaux de catégories (importable à partir du fichier Grisbi).</li>
  <li>Téléchargement du fichier export (par email, FTP, Dropbox, ...)</li>
  <li>Sauvegarde et rétablissement des données</li>
  <li>Protection par mot de passe</li>
  <li>Formats d'export: QIF et CSV (MS Excel)</li>
  <li>Calculatrice</li>
  <li>Regroupement par jour, semaine, mois, année, et affichage des totaux par groupe {% include new.html %}</li>
</ul>
<h3>Premium</h3>
<p>Les fonctionnalités suivantes peuvent être essayées cinq fois et seront deverrouillées pour une utilisation illimitée si vous installez
<span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Mes dépenses Contrib</a></span> :
</p>
<ul>
<li>Restauration de la sauvegarde sans déinstallation/reinstallation</li>
<li>Éditer les modèles</li>
<li>Dans la liste des comptes, affichache des sommes totales</li>
<li>Réinitialiser tous les comptes en block</li>
<li>Question de sécurité en cas d'oubli du mot de passe</li>
<li>Cloner les transactions</li>
<li>Opérations ventilées {% include new.html %}</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
