---
layout: neu
lang: fr
imprint: Imprint
hero_main: "Gestionnaire de finances personnelles pour Android"
hero_sub:
  - "Facile à utiliser"
  - "Riche en fonctionnalités"
  - "Open Source"
sections:
  participate: Participer
  faq: FAQ
  versionlist: Modifications
  credits: Credits
  licence: Licence
  sourcecode: SourceCode
  links: Links
features:
  manage_accounts: Jusqu'à cinq comptes avec virement (sans limite dans la version Contrib)
  grouped_list: Regroupement par jour, semaine, mois, année, et affichage des totaux par groupe
  categories: Deux niveaux de catégories (importable à partir du fichier Grisbi)
  split: Opérations ventilées (version Contrib)
  calculator: Calculatrice
  export: Export vers QIF et CSV (MS Excel), téléchargement du fichier export (par email, FTP, Dropbox, ...), réinitialiser tous les comptes en block dans la version Contrib
  password: Protection par mot de passe (Question de sécurité en cas d'oubli en version Contrib)
  help: Aide integré
  new_from_template: Créer des opérations à partir de modèles (éditable dans la version Contrib)
  backup: Sauvegarde et rétablissement des données (sans désinstallation dans la version Contrib)
  aggregate_dialog: Affichache des sommes totales (version Contrib)
  light_theme: "Deux thèmes: clair et sombre"
---
{% include participate_fr.html %}
{% include faq_fr.html %}
{% include versionlist.html %}
{% include imprint_en.html %}

