---
layout: default
section: summary
lang: fr
---
<h2>Sommaire</h2>
<ul>
<li>Gardez une trace de vos dépenses et revenus.</li>
<li>Gérez-les directement sur votre smartphone.</li>
<li>Exportez-les vers un logiciel de finance, tel que Grisbi, Gnucash, Quicken ou MS Money.</li>
<li>Fonctionne sous toutes les versions d'Android de 2.0 à 4.3.</li>
</ul>
<h2>Fonctionnalités</h2>
<ul>
  <li>Comptes multiples avec virement.</li>
  <li>Créer des opérations à partir de modèles</li>
  <li>Deux niveaux de catégories (importable à partir du fichier Grisbi).</li>
  <li>Téléchargement du fichier export (par email, FTP, Dropbox, ...)</li>
  <li>Sauvegarde et rétablissement des données</li>
  <li>Protection par mot de passe</li>
  <li>Formats d'export: QIF et CSV (MS Excel)</li>
  <li>Calculatrice</li>
  <li>Opérations ventilées</li>
</ul>
{% include install.html %}
{% include screenshots.html %}
