---
layout: default
section: participate
lang: fr
---
<h2>Contribuer</h2>
<p>
  En installant <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Mes dépenses Contrib</a></span>,
  vous aidez à ce que <span class="application">Mes Dépenses</span> soit offert sans publicité et en open source.
  À partir de la version 1.7.0, les nouvelles fonctionnalités suivantes peuvent être essayées cinq fois.
  et seront deverrouillées pour une utilisation illimitée si vous installez l'app Contrib:
</p>
<ul>
<li>Restauration de la sauvegarde sans déinstallation/reinstallation</li>
<li>Éditer les modèles</li>
<li>Dans la liste des comptes, affichache des sommes totales</li>
<li>Réinitialiser tous les comptes en block.</li>
<li>Question de sécurité en cas d'oubli du mot de passe</li>
<li>Cloner les transactions</li>
</ul>
<p>
  Si vous participez par d'autres moyens, comme expliqué ci-dessus, vous pouvez demander une clé Contrib
  à partir de l'écran de paramètres. Celle-ci permettra également l'accès à toutes les fonctionnalités Premium.
</p>

<h2>Participer</h2>
<p>Développer <span class="application">My Expenses</span>, c'est plaisant et vaut la peine à travers
  votre feedback reconnaissant et constructif. Exprimez votre avis dans
  <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>,
  ou ajoutez votre commentaire aux billets de la rubrique <a href="/#news">news</a>.
</p>
<p><span class="application">My Expenses</span> évolue à travers votre retour d'expérience et vos
  suggestions. Si vous rencontrez un problème ou imaginez une amélioration, ajoutez une
  <a href="https://github.com/mtotschnig/MyExpenses/issues/new">entrée</a> dans le Issue Tracker de Github.
</p>
<p>
  Si vous êtes intéressé à aider à tester les versions à venir, rejoignez le Google groupe
  <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</p>
<p>Vous pouvez aider à traduire <span class="application">My Expenses</span> dans d'autres langues
  (par exemple: {{site.missing_langs}}, ...): Pour la traduction de l'interface usager, vous pouvez
  utiliser <a href="https://www.transifex.com/projects/p/my-expenses/resource/strings/">Transifex</a>,
  le manual est saisi dans un
  <a href="https://github.com/mtotschnig/MyExpenses/blob/master/doc/tutorial/tutorial_r4.xml">fichier Dockbook</a>.
</p>

<h2>Code source</h2>
<p>
  <span class="application">My Expenses</span> is <a href="http://www.gnu.org/philosophy/free-sw.html">free
  software</a>. You can <a href="install.html">install</a> and use it without paying, but you can
  also download its source code from <a href="https://github.com/mtotschnig/MyExpenses">mtotschnig/MyExpenses</a>,
  inspect how it works, maybe learn from it, improve it, even redistribute it, provided you respect
  the <a href="info.html#licence">licence</a>.
</p>

<h2 id="donate">Don</h2>
<p id="money">
  Enfin, vous pouvez envoyer un don par l'intermédiaire de
   {% include flattr.html %} ou {% include paypal.html %}.
</p>
