---
layout: default
section: participate
lang: fr
---
<h2>Participer</h2>
<p>
  En installant <span class="application"><a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses.contrib">Mes dépenses Contrib</a></span>,
  vous aidez à ce que <span class="application">Mes Dépenses</span> soit offert sans publicité et en open source
  et vous obtiendrez un accès illimité aux fonctions Premium.
</p>
<p>
  Si vous participez par d'autres moyens, comme expliqué ci-dessus, vous pouvez demander une clé Contrib
  à partir de l'écran de paramètres. Celle-ci permettra également l'accès à toutes les fonctionnalités Premium.
</p>
<ul>
<li>Développer <span class="application">My Expenses</span>, c'est plaisant et vaut la peine à travers
  votre feedback reconnaissant et constructif. Exprimez votre avis dans
  <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">Google Play</a>,
  ou ajoutez votre commentaire aux billets de la rubrique <a href="/#news">news</a>.
</li>
<li><span class="application">My Expenses</span> évolue à travers votre retour d'expérience et vos
  suggestions. Si vous rencontrez un problème ou imaginez une amélioration, ajoutez une
  <a href="https://github.com/mtotschnig/MyExpenses/issues/new">entrée</a> dans le Issue Tracker de Github.
</li>
<li>
  Si vous êtes intéressé à aider à tester les versions à venir, rejoignez le Google groupe
  <a href="https://groups.google.com/forum/#!forum/my-expenses-testing">My Expenses Testing</a>.
</li>
<li>Vous pouvez aider à <a href="/en/translate.html">traduire</a> <span class="application">My Expenses</span> dans d'autres langues
  (par exemple: {{site.missing_langs}}, ...).
</li>
<li id="donate">
  Enfin, vous pouvez envoyer un don par l'intermédiaire de
   {% include flattr.html %} ou {% include paypal.html %}.
</li>
</ul>
