---
layout: neu
lang: tr
tr:
  imprint: Imprint
  hero_main: "Android için kişisel finans yöneticisi"
  hero_sub:
  - Kolay kullanım
  - Zengin işlevsellik
  - Açık Kaynak
  latest_news: Son haberler
  sections:
    participate: İştirak edin
    faq: SSS
    versionlist: Değişiklikler
    credits: Hazırlayanlar
    licence: Lisans
    sourcecode: Kaynak kodu
    links: Bağlantılar
  features:
    manage_accounts: Transferleri dikkate alan 5 hesap (Katkı sürümü ile sınırsız sayıda hesap)
    grouped_list: Muameleleri gün, hafta, ay veya yıllık olarak grupla ve grup başına toplamları görüntüle
    distribution: İki kategori seviyesi (Grisbi XML dosyalarından içe aktarım), muamelelerin dağılımını katkı sürümünde görüntüleme
    split: Bölünmüş muameleler (Ücretli işlev)
    calculator: Hesap makinesi
    export: 'QIF ve CSV (MS Excel) dosyası olarak dışa aktarma, Dışa aktarım dosyalarının FTP ya da e-posta ile yedeklenmeleri, Tüm hesapları sıfırla (Ücretli işlev)'
    password: Parola ile güvenlik, Güvenlik sorusu (Ücretli işlev)
    help: Entegre yardım
    new_from_template: Şablonlardan muamele oluşturulması
    backup: Veri yedekleme ve geri yükleme
    aggregate_dialog: Birden çok hesabın birleşik görünümü (Ücretli işlev)
    light_theme: "İki tema: karanlık ve aydınlık"
  contrib-feature-dialog-title: |
    Lütfen ücretli Katkı sürümünü kurarak destekte bulunun. Böylece şu özelliklere sınırsız erişim elde
      edersiniz:
  contrib:
  - Sınırsız hesap sayısı
  - Muamelelerin kategoriye göre dağılımı
  - Bölünmüş muameleler
  - Güvenlik sorusu
  - Tüm hesapları sıfırlama
  - Birden fazla hesabı agrega olarak toplama
  dialog-close: Yakın
  dialog-buy: Satın al
---
{% include participate_en.html %}
{% include faq_tr.html %}
{% include versionlist.html %}
{% include imprint_en.html %}


