---
layout: default
section: summary
lang: tr
---
<h2>Özet</h2>
<ul>
<li>Gelirleriniz ve harcamalarınızı takip edin.</li>
<li>Akıllı telefonunuzda doğrudan yönetin.</li>
<li><a href="http://www.grisbi.org">Grisbi</a> (Open Source),
  <a href="http://www.gnucash.org">Gnucash</a> (Open Source), Quicken ya da MS Money gibi masa üstü finans
  programlarına aktarın.</li>
<li>2.0'dan 4.2'ye tüm Android sürümleriyle uyumludur.</li>
</ul>
<h2>
  İşlevleri
</h2>
<ul>
  <li>Çoklu hesaplar ve virmanlar.</li>
  <li>Şablonlardan muamele oluşturulması</li>
  <li>İki kategori seviyesi (Grisbi XML dosyalarından içeri aktarım)</li>
  <li>Dışa aktarım dosyalarının FTP ya da e-posta ile yedeklenmeleri</li>
  <li>Veri yedekleme ve yüklemesi</li>
  <li>Parola ile güvenlik</li>
  <li>QIF ve CSV (MS Excel) dosyası olarak dışa aktarma</li>
  <li>Hesap makinesi</li>
  <li>Bölünmüş muameleler</li>
</ul>
{% include install.html %}
{% include screenshots.html %}

