---
layout: default
section: summary
lang: tr
---
<h2>Özet</h2>
<p>
  <span class="application">Harcamalarım</span> uygulaması harcamalarınızı izlemenizi ve
  bunları Grisbi ya da GnuCash gibi bir muhasebe uygulamasına QIF dosyası
  olarak aktarmanıza imkân verecek şekilde tasarlanmıştır.
</p>
<h2>
  İşlevleri
</h2>
<ul>
  <li>Çoklu hesaplar ve virmanlar.</li>
  <li>Şablonlardan muamele oluşturulması</li>
  <li>İki kategori seviyesi (Grisbi XML dosyalarından içeri aktarım)</li>
  <li>QIF dosyalarının FTP ya da e-posta ile aktarılmaları</li>
  <li>Veri yedekleme ve yüklemesi</li>
</ul>
{% include install.xhtml %}
{% include screenshots.xhtml %}






