<html>
  <head>
    <title>My Expenses</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width;">
    <style type="text/css">
    {{ page.styles }}
    </style>
    {{page.headstuff}}
  </head>
  <body>
    <div id="container">
      <img style="vertical-align: middle; float:left; margin-right: 15px;" src="/visuals/icon.png" alt="My Expenses"/>
      <div style="position:relative">
        <h1 style="margin-top:0cm"><span class="application">My Expenses</span><br/>
          <span style="font-size:smaller">GPL licenced Android Expense Tracking App</span>
        </h1>
        <span class="langselector">
          {% for section in site.sections %}
            {% if section.id == page.section %}
              {% for lang in section.langs %}
                {% if lang == page.lang %}
                  <img width="22" title="{{site.langs[lang]}}" src="/visuals/flags/{{lang}}.png">
                {% else %}
                  <a href="{{page.url | replace_first: page.lang, lang}}"><img title="{{site.langs[lang]}}" src="/visuals/flags/{{lang}}.png"></a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </span>
      </div>
      <div style="clear:both" id="navigation">
        <ul>
          {% for section in site.sections %}
            {% if page.section == section.id  %}
              <li class="active">{{section.title}}</li>
            {% else %}
              {% if section.langs and section.langs contains page.lang %}
                <li><a href="/{{page.lang}}/{{section.url}}">{{section.title}}</a></li>
              {% else %}
                <li><a href="/en/{{section.url}}">{{section.title}}</a></li>
              {% endif %}
            {% endif %}
         {% endfor %}
        </ul>
      </div>
      <div id="block">
        {{ content }}
      </div>
   </div>
  </body>
</html>
