<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% if page.metatitle %}{{page.metatitle}}{% else %}{{site.title[page.lang]}} {{page.title}}{% endif %}</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    {% if page.metadescription %}<meta name="description" content="{{page.metadescription}}"/> {% endif %}
    <meta name="viewport" content="width=device-width;"/>
    <style type="text/css">
    {{ page.styles }}
    </style>
    {{page.headstuff}}
  </head>
  <body>
    <div id="container">
      <img style="vertical-align: middle; float:left; margin-right: 15px;" src="/visuals/icon.png" alt="My Expenses"/>
      <div style="position:relative">
        <h1 style="margin-top:0cm"><span class="application">{{site.title[page.lang]}}</span><br/>
          <span style="font-size:smaller">GPL licenced Android Expense Tracking App</span>
        </h1>
        {% if page.lang %}
        <span class="langselector">
          {% for section in site.sections %}
            {% if section.id == page.section %}
              {% for title in section.title %}
                {% assign lang = title[0] %}
                {% assign label = site.langs[lang] %}
                {% if lang == page.lang %}
                  <img width="22" alt="{{label}}" title="{{label}}" src="/visuals/flags/{{lang}}.png"/>
                {% else %}
                  <a href="{{page.url | replace_first: page.lang, lang}}"><img alt="{{label}}" title="{{label}}" src="/visuals/flags/{{lang}}.png"/></a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </span>
        {% endif %}
      </div>
      <div style="clear:both" id="navigation">
        <ul>
          {% for section in site.sections %}
            {% capture title %}{% if section.title[page.lang] %}{{section.title[page.lang]}}{% else %}{{section.title["en"]}}{% endif %}{% endcapture %}
            {% if page.section == section.id  %}
              <li class="active">{{title}}</li>
            {% else %}
              {% if section.langs and section.langs contains page.lang %}
                <li><a href="/{{page.lang}}/{{section.url}}">{{title}}</a></li>
              {% else %}
                <li><a href="/en/{{section.url}}">{{title}}</a></li>
              {% endif %}
            {% endif %}
         {% endfor %}
        </ul>
      </div>
      <div id="block">
        {% if page.title %}
        <h2>{{page.title}}</h2>
        {% endif %}
        {{ content }}
      </div>
   </div>
  </body>
</html>
