<!DOCTYPE html>
{% capture pagelang %}{% if page.lang %}{{page.lang}}{% else %}en{% endif %}{% endcapture %}
<html lang="{{pagelang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/visuals/favicon.png">

    <title>{{site.title[pagelang]}}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/script/html5shiv.js"></script>
      <script src="/script/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      /* based on Android Asset Studio - Device Frame Generator */
      var SCREENSHOT_WIDTH = 480;
      var SCREENSHOT_HEIGTH = 800;
      
      var loadImageResources = function(images, callback) {
        var imageResources = {};
  
        var checkForCompletion = function() {
          for (var id in images) {
            if (!(id in imageResources))
              return;
          }
          (callback || function(){})(imageResources);
          callback = null;
        };
  
        for (var id in images) {
          var img = document.createElement('img');
          img.src = images[id];
          (function(img, id) {
            img.onload = function() {
              imageResources[id] = img;
              checkForCompletion();
            };
            img.onerror = function() {
              imageResources[id] = null;
              checkForCompletion();
            }
          })(img, id);
        }
      };
      var g_currentDevice = {
        id: 'nexus_s',
        title: 'Nexus S',
        url: 'http://www.google.com/phone/detail/nexus-s',
        physicalSize: 4.0,
        physicalHeight: 4.88,
        density: 'HDPI',
        landRes: ['shadow', 'back', 'fore'],
        landOffset: [147,135],
        portRes: ['shadow', 'back', 'fore'],
        portOffset: [134,247],
        portSize: [480,800],
        archived: true
      }
     var resourceImages = {};
     var canvasTemplate = document.createElement('canvas');
     function loadDeviceArt() {
        // Load image resources
        var res = g_currentDevice.portRes;
        var resList = {};
        for (var i = 0; i < res.length; i++) {
          resList[res[i]] = '/visuals/nexus_s/port_' + res[i] + '.png'
        }
        loadImageResources(resList, function(r) {
          resourceImages = r;
          loadScreenShots();
        });
      }
      function loadScreenShots() {
        var availableWidth=document.getElementById("canvas-parent").clientWidth;
        if (availableWidth > 500) {
          var naturalWidth = 749;
          var naturalHeight = 1308;
          var scale = availableWidth/naturalWidth;
          var ctx = canvasTemplate.getContext('2d');
          canvasTemplate.width=availableWidth;
          canvasTemplate.height=naturalHeight*scale
          ctx.drawImage(resourceImages['shadow'], 0, 0,canvasTemplate.width,canvasTemplate.height);
          ctx.drawImage(resourceImages['back'], 0, 0,canvasTemplate.width,canvasTemplate.height);
          ctx.drawImage(resourceImages['fore'], 0, 0,canvasTemplate.width,canvasTemplate.height);
        }
        //console.log("setting scale "+ scale);
        var ssList = [{% for feature in page.features %}'{{feature[0]}}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}];
        for (var i = 0; i < ssList.length; i++) {
          var img = document.createElement('img');
          var id = ssList[i];
          //console.log("creating image "+id);
          (function(img, id) {
            img.onload = function() {
              if (availableWidth > 500) {
                //console.log("image "+id + " loaded");
                var canvas = document.createElement('canvas');
                canvas.width=availableWidth;
                //console.log("setting width "+ canvas.width);
                canvas.height=naturalHeight*scale
                if (!navigator.userAgent.match(/msie/i) ){
                  canvas.style.maxWidth = '80%';
                }
                var ctx = canvas.getContext('2d');
                ctx.drawImage(canvasTemplate,0,0);
                var offset = g_currentDevice.portOffset;
                ctx.drawImage(img,offset[0]*scale, offset[1]*scale,SCREENSHOT_WIDTH*scale,SCREENSHOT_HEIGTH*scale);
                $('#'+id).prepend(canvas);
              } else {
                $('#'+id).prepend(img);
              }
            };
            img.onerror = function() {
              $('#'+id).prepend($('<p class="error">Error retrieving screenshot ' + id + '</p>'));
            }
          })(img, id);
          img.src = 'screenshots/' + id + '.png';
        }
      }
    </script>
  </head>

  <body onload="loadDeviceArt();if (location.hash!='') mkActive(location.hash)">
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li id="carousel-features-link" class="active"><a id="menu-features" href="#carousel-features"><span class="glyphicon glyphicon-home"></span></a></li>
          <li id="menu-moreinfo" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-info-sign"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for section in page.sections %}
              <li id="{{section[0]}}-link"><a class="intern" href="#{{section[0]}}">{{section[1]}}</a></li>
            {% endfor %}
              <li role="presentation" class="divider"></li>
              <li><a href="https://plus.google.com/116736113799210525299">Follow on Google+</a></li>
              <li role="presentation" class="divider"></li>
              <li><a data-toggle="modal" href="#contrib-features">Go premium</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img alt="{{site.langs[pagelang]}}" title="{{site.langs[pagelang]}}" src="/visuals/flags/{{pagelang}}_25.png"/> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for lang in site.langs %}
              {% assign code = lang[0] %}
              {% assign label = lang[1] %}
              {% if code != page.lang %}
              <li><a href="/{{code}}">{{label}}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
        <h3 class="text-muted"><img
        src="/visuals/icon_{% if pagelang == "vi" %}VN{% elsif pagelang == "tr" %}TR{% elsif pagelang == "de" or pagelang == "fr" or pagelang == "ca" or pagelang == "it" %}EU{% else %}US{% endif %}.png" id="app-icon"> {{site.title[pagelang]}}</h3>
      </div>
      <div class="jumbotron">
        <p>{{page.hero_main}}</p>
        {% for hero in page.hero_sub %}<span class="btn btn-primary">{{hero}}</span>{% endfor %}
      </div>
      <div id="carousel-features" class="carousel slide block">
        <!-- Indicators -->      
        <!-- Wrapper for slides -->
        <div id="canvas-parent" class="carousel-inner">
          {% for feature in page.features %}
          <div id="{{feature[0]}}" class="item {% if forloop.index0 == 0 %}active{% endif %}">
            <div class="carousel-caption">
            {{feature[1]}} 
            </div>
          </div>
          {% endfor %}
        </div>
        <ol class="carousel-indicators">
          {% for feature in page.features %}
          <li data-target="#carousel-features" data-slide-to="{{forloop.index0}}" {% if forloop.index0 == 0 %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-features" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#carousel-features" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
      {{content}}
      {% include misc_info.html %}
      <div class="well">
      <a href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">
        <img alt="Get it on Google Play"
            src="https://developer.android.com/images/brand/{{pagelang}}_generic_rgb_wo_60.png" />
         </a>
      </div>
      <div class="footer">
        <p>© 2013 Michael Totschnig - <a class="intern" href="#imprint">{{page.imprint}}</a> - <a href="mailto:myexpenses@totschnig.org">Feedback</a></p>
      </div>
    </div> <!-- /container -->
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#menu-features').click(function(event){
        event.preventDefault(); 
        mkActive(this.hash);
        history.pushState(null, null, this.href);
      });
      $('a.intern').click(function(event){
        event.preventDefault(); 
        mkActive(this.hash);
        history.pushState(null, null, this.href);
      });
      //we need to prevent links from the FAQ TOC to the FAQ entries
      //to be recorded in history, since this triggers the popstate eventlistener
      $('.qandaset a').click(function(event){
        event.preventDefault();
        $('html, body').animate({
          scrollTop: $(this.hash).offset().top
        }, 'slow');
      });
      //target is hash + id of block  
      function mkActive(target) {
        $('.block').toggle(false);
        //var target =  $('#'+el.hash.substr(1));
        $(target).toggle(true);
        var targetTitle = $(target + " h2").text();
        document.title = "{{site.title[pagelang]}}" + (targetTitle == "" ? "" : (" | " +targetTitle));
        $('li.active').removeClass('active');
        $(target+"-link").addClass('active');
        if (target != '#carousel-features')
          $('#menu-moreinfo').addClass('active');
        $('html, body').animate({
          scrollTop: $(target).offset().top
        }, 'slow');
      }
      window.addEventListener("popstate", function(e) {
        mkActive(location.hash==""?"#carousel-features":location.hash);
      });
      {% if pagelang == "en" or pagelang == "fr" or pagelang == "es" %}
      function whichIcon(address) {
        switch(address.country_code) {
        case "IN":
        case "GB":
        return address.country_code;
        }
        return address.continent_code == 'EU' ? 'EU' : 'US';
      }
      function setIcon(icon) {
        document.getElementById("app-icon").src="/visuals/icon_"+icon+".png";
      }
      $.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) {
        setIcon(whichIcon(data.address));
      });
      {% endif %}
    </script>
  </body>
</html>
