<!DOCTYPE html>
{% capture pagelang %}{% if page.lang %}{{page.lang}}{% else %}en{% endif %}{% endcapture %}
{% assign msg = site.data.msg[pagelang]  %}
<html lang="{{pagelang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My Expenses, Open Source Android App for personal finance management">
    <meta name="author" content="Michael Totschnig">
    <link rel="shortcut icon" href="/visuals/favicon.png">

    <title>{{site.title[pagelang]}}</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/script/html5shiv.js"></script>
      <script src="/script/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      /* based on Android Asset Studio - Device Frame Generator */
      var SCREENSHOT_WIDTH = 288;
      var SCREENSHOT_HEIGTH = 480;
      var MINIMAL_WIDTH_DEVICE_ART = 500;
      
      var loadImageResources = function(images, callback) {
        var imageResources = {};
  
        var checkForCompletion = function() {
          for (var id in images) {
            if (!(id in imageResources))
              return;
          }
          (callback || function(){})(imageResources);
          callback = null;
        };
  
        for (var id in images) {
          var img = document.createElement('img');
          img.src = images[id];
          (function(img, id) {
            img.onload = function() {
              imageResources[id] = img;
              checkForCompletion();
            };
            img.onerror = function() {
              imageResources[id] = null;
              checkForCompletion();
            }
          })(img, id);
        }
      };
      var g_currentDevice = {
        id: 'nexus_s',
        title: 'Nexus S',
        url: 'http://www.google.com/phone/detail/nexus-s',
        physicalSize: 4.0,
        physicalHeight: 4.88,
        density: 'HDPI',
        landRes: ['shadow', 'back', 'fore'],
        landOffset: [147,135],
        portRes: ['shadow', 'back', 'fore'],
        portOffset: [80,148],
        portSize: [288,480],
        archived: true
      }
     var resourceImages = {};
     var canvasTemplate = document.createElement('canvas');
     function loadDeviceArt() {
        // Load image resources
        var res = g_currentDevice.portRes;
        var resList = {};
        for (var i = 0; i < res.length; i++) {
          resList[res[i]] = '/visuals/nexus_s/port_' + res[i] + '.png'
        }
        loadImageResources(resList, function(r) {
          resourceImages = r;
          loadScreenShots();
        });
      }
      //http://www.howtocreate.co.uk/tutorials/javascript/browserwindow
      function availableWidth() {
        var myWidth = 0;
        if( typeof( window.innerWidth ) == 'number' ) {
          //Non-IE
          return window.innerWidth;
        } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) {
          //IE 6+ in 'standards compliant mode'
          return document.documentElement.clientWidth;
        } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) {
          return document.body.clientWidth;
        }
      }
      var availableWidth=availableWidth();
      //console.log("setting availableWidth "+ availableWidth);
      function loadScreenShots() {
        if (availableWidth > MINIMAL_WIDTH_DEVICE_ART) {
          var naturalWidth = 449;
          var naturalHeight = 785;
          var scale = (availableWidth < naturalWidth) ? availableWidth/naturalWidth : 1;
          //console.log("setting SCALE "+ scale);
          var ctx = canvasTemplate.getContext('2d');
          canvasTemplate.width=naturalWidth*scale;
          canvasTemplate.height=naturalHeight*scale
          ctx.drawImage(resourceImages['shadow'], 0, 0,canvasTemplate.width,canvasTemplate.height);
          ctx.drawImage(resourceImages['back'], 0, 0,canvasTemplate.width,canvasTemplate.height);
          ctx.drawImage(resourceImages['fore'], 0, 0,canvasTemplate.width,canvasTemplate.height);
        }
        //console.log("setting scale "+ scale);
        var ssList = [{% for feature in msg.features %}'{{feature[0]}}'{% if forloop.last %}{% else %},{% endif %}{% endfor %}];
        for (var i = 0; i < ssList.length; i++) {
          var img = document.createElement('img');
          var id = ssList[i];
          //console.log("creating image "+id);
          (function(img, id) {
            img.onload = function() {
              if (availableWidth > MINIMAL_WIDTH_DEVICE_ART) {
                //console.log("image "+id + " loaded");
                var canvas = document.createElement('canvas');
                canvas.width=naturalWidth*scale;
                //console.log("setting width "+ canvas.width);
                canvas.height=naturalHeight*scale
                if (!navigator.userAgent.match(/msie/i) ){
                  canvas.style.maxWidth = '80%';
                }
                var ctx = canvas.getContext('2d');
                ctx.drawImage(canvasTemplate,0,0);
                var offset = g_currentDevice.portOffset;
                ctx.drawImage(img,offset[0]*scale, offset[1]*scale,SCREENSHOT_WIDTH*scale,SCREENSHOT_HEIGTH*scale);
                $('#'+id).prepend(canvas);
              } else {
                $('#'+id).prepend(img);
              }
              $('#'+id + " .loading").toggle(false);
            };
            img.onerror = function() {
              $('#'+id).prepend($('<p class="error">Error retrieving screenshot ' + id + '</p>'));
            }
          })(img, id);
          img.src = 'screenshots/' + id + '.png';
        }
      }
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-40789280-1', 'totschnig.org');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li id="features-link" class="active" title="{{msg.menu_title.features}}"><a id="menu-features" href="#features"><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="{{site.posts[0].url}}">Blog</a></li>
          <li id="menu-moreinfo" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{{msg.menu_title.more_information}}"><span class="glyphicon glyphicon-info-sign"></span><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            {% for section in msg.sections %}
              <li id="{{section[0]}}-link"><a class="intern" href="#{{section[0]}}">{{section[1]}}</a></li>
            {% endfor %}
              <li role="presentation" class="divider"></li>
              <li><a class="track" id="gplus" href="https://plus.google.com/116736113799210525299">Follow on Google+</a></li>
              <li role="presentation" class="divider"></li>
              <li><a id="premium" class="track" data-toggle="modal" href="#contrib-features">Go premium</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img alt="{{site.langs[pagelang]}}" title="{{site.langs[pagelang]}}" src="/visuals/flags/{{pagelang}}_25.png"/> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for lang in site.langs %}
              {% assign code = lang[0] %}
              {% assign label = lang[1] %}
              {% if code != pagelang %}
              <li><a href="/{{code}}">{{label}}</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </li>
        </ul>
        <h3 class="text-muted"><img
        src="/visuals/icon_{% if pagelang == "vi" %}VN{% elsif pagelang == "tr" %}TR{% elsif pagelang == "de" or pagelang == "fr" or pagelang == "ca" or pagelang == "it" %}EU{% else %}US{% endif %}.png" id="app-icon"> {{site.title[pagelang]}}</h3>
      </div>
      <div class="jumbotron">
        <p>{{msg.hero_main}}</p>
        {% for hero in msg.hero_sub %}<span class="btn btn-primary">{{hero}}</span>{% endfor %}
      </div>
      <div class="well">
        <div>
          <a id="gplay" class="track" href="https://play.google.com/store/apps/details?id=org.totschnig.myexpenses">
            <img alt="Get it on Google Play"
              src="https://developer.android.com/images/brand/{{pagelang}}_generic_rgb_wo_45.png" />
          </a>
        </div>
        <div>
          <a id="fdroid" class="track" href="https://f-droid.org/repository/browse/?fdid=org.totschnig.myexpenses">
            <img alt="Get it on F-Droid" src="/visuals/getitonfdroid.png" />
          </a>
        </div>
        <div>
          <a id="amazon" class="track" href="http://www.amazon.com/gp/product/B00FEFVFOQref=mas_pm_MyExpenses">
            <img alt="Get it on Amazon" src="/visuals/amazon-apps-store-{% if pagelang == "es" or pagelang == "de" or pagelang == "fr" or pagelang == "en" or pagelang == "it" %}{{pagelang}}{% else %}en{% endif %}-black.png" />
          </a>
        </div>
      </div>
      <div id="features" class="carousel slide block">
        <!-- Indicators -->      
        <!-- Wrapper for slides -->
        <div id="canvas-parent" class="carousel-inner">
          {% for feature in msg.features %}
          <div id="{{feature[0]}}" class="item {% if forloop.index0 == 0 %}active{% endif %}">
            <div class="loading"></div>
            <div class="carousel-caption">
            {{feature[1]}} 
            </div>
          </div>
          {% endfor %}
        </div>
        <ol class="carousel-indicators">
          {% for feature in msg.features %}
          <li title="{{feature[1]}}" data-target="#features" data-slide-to="{{forloop.index0}}" {% if forloop.index0 == 0 %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <!-- Controls -->
        <a class="left carousel-control" href="#features" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#features" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
      {{content}}
      {% include misc_info.html %}
      <div class="footer">
        <p>© 2013 Michael Totschnig - <a class="intern" href="#imprint">{{msg.imprint}}</a> - <a href="mailto:myexpenses@totschnig.org">Feedback</a></p>
      </div>
    </div> <!-- /container -->
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $('#menu-features').click(function(event){
        event.preventDefault(); 
        mkActive(this.hash);
        history.pushState(null, null, this.href);
      });
      $('a.intern').click(function(event){
        event.preventDefault(); 
        mkActive(this.hash);
        history.pushState(null, null, this.href);
      });
      //we need to prevent links from the FAQ TOC to the FAQ entries
      //to be recorded in history, since this triggers the popstate eventlistener
      $('.qandaset a').click(function(event){
        event.preventDefault();
        $('html, body').animate({
          scrollTop: $(this.hash).offset().top
        }, 'slow');
      });
      //target is hash + id of block  
      function mkActive(target) {
        var block=target.split("-")[0];
        //when called with non existent hash do nothing
        if ($(block).length == 0) return;
        $('.block').toggle(false);
        $(block).toggle(true);
        ga('send', 'pageview', location.pathname + block);
        var targetTitle = $(block + " h2").text();
        document.title = "{{site.title[pagelang]}}" + (targetTitle == "" ? "" : (" | " +targetTitle));
        $('li.active').removeClass('active');
        $(block+"-link").addClass('active');
        if (block != '#features')
          $('#menu-moreinfo').addClass('active');
        $('html, body').animate({
          scrollTop: $(target).offset().top
        }, 'slow');
      }
      window.addEventListener("popstate", function(e) {
        mkActive(location.hash==""?"#features":location.hash);
      });
      {% if pagelang == "en" or pagelang == "fr" or pagelang == "es" %}
      function whichIcon(address) {
        switch(address.country_code) {
        case "IN":
        case "GB":
        return address.country_code;
        }
        return address.continent_code == 'EU' ? 'EU' : 'US';
      }
      function setIcon(icon) {
        document.getElementById("app-icon").src="/visuals/icon_"+icon+".png";
      }
      $.getJSON('http://api.wipmania.com/jsonp?callback=?', function (data) {
        setIcon(whichIcon(data.address));
      });
      {% endif %}
      $(document).ready(function(){
        if (location.hash!='') mkActive(location.hash);
        loadDeviceArt();
      })
      $('.track').on('click', function() {
        ga('send', 'event', 'track', 'click',$(this).attr('id'));
      });
    </script>
  </body>
</html>
