<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.totschnig.myexpenses">

    <application>
        <receiver android:name="com.amazon.inapp.purchasing.ResponseReceiver">
            <intent-filter>
                <action
                    android:name="com.amazon.inapp.purchasing.NOTIFY"
                    android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"
                    />
            </intent-filter>
        </receiver>
    </application>

</manifest>
